## Initial Event Preparation
- Occurs pre-event
- Instantiate class and define bracket format via the dictionary and lists of tuples as shown below

In [1]:
from SART_Class_v2 import SART
import pandas as pd

In [2]:
r0_seeds = {'Heat 101': [1, 32, 33, 64, 65], 'Heat 102': [16, 17, 48, 49, 80],
    'Heat 103': [8, 25, 40, 57, 72], 'Heat 104': [9, 24, 41, 56, 73],
    'Heat 105': [4, 29, 36, 61, 68], 'Heat 106': [13, 20, 45, 52, 77],
    'Heat 107': [5, 28, 37, 60, 69], 'Heat 108': [12, 21, 44, 53, 76],
    'Heat 109': [2, 31, 34, 63, 66], 'Heat 110': [15, 18, 47, 50, 79],
    'Heat 111': [7, 26, 39, 58, 71], 'Heat 112': [10, 23, 42, 55, 74],
    'Heat 113': [3, 30, 35, 62, 67], 'Heat 114': [14, 19, 46, 51, 78],
    'Heat 115': [6, 27, 38, 59, 70], 'Heat 116': [11, 22, 43, 54, 75]}

#heat pairs round 1 - 4:
h_pairs = [(101, 102), (103, 104), (105, 106), (107, 108), (109, 110),
    (111, 112), (113, 114), (115, 116), (201, 203), (205, 207), (209, 211),
    (213, 215), (202, 204), (206, 208), (210, 212), (214, 216), (301, 302),
    (303, 304), (305, 306), (307, 308), (309, 310), (311, 312), (313, 314),
    (315, 316), (401, 402), (403, 404), (405, 406), (407, 408), (409, 410),
    (411, 412), (413, 414), (415, 416)]

#heat pairs round 2 - 5 that prior round feed into e.g. 101, 102 feed into 201, 202:
fd_into_ht_pairs = [(201, 202), (203, 204), (205, 206), (207, 208),
    (209, 210), (211, 212), (213, 214), (215, 216), (316, 312), (315, 311),
    (314, 310), (313, 309), (308, 304), (307, 303), (306, 302), (305, 301),
    (403, 401), (404, 402), (407, 405), (408, 406), (411, 409), (412, 410),
    (415, 413), (416, 414), (502, 501), (504, 503), (506, 505), (508, 507),
    (510, 509), (512, 511), (514, 513), (516, 515)]

#Bracket columns:
columns = ['Round', 'Nxt_Heat', 'First_name', 'Surname', 'Time', 'Nxt_Heat_Time']

#Heat start times:
#Heat start times:
start_times = {'Heat 101': '12:00pm',
             'Heat 102': '12:03pm',
             'Heat 103': '12:06pm',
             'Heat 104': '12:09pm',
             'Heat 105': '12:12pm',
             'Heat 106': '12:15pm',
             'Heat 107': '12:18pm',
             'Heat 108': '12:21pm',
             'Heat 109': '12:24pm',
             'Heat 110': '12:27pm',
             'Heat 111': '12:30pm',
             'Heat 112': '12:33pm',
             'Heat 113': '12:36pm',
             'Heat 114': '12:39pm',
             'Heat 115': '12:42pm',
             'Heat 116': '12:45pm',
             'Heat 201': '3:00pm',
             'Heat 202': '3:03pm',
             'Heat 203': '3:06pm',
             'Heat 204': '3:09pm',
             'Heat 205': '3:12pm',
             'Heat 206': '3:15pm',
             'Heat 207': '3:18pm',
             'Heat 208': '3:21pm',
             'Heat 209': '3:24pm',
             'Heat 210': '3:27pm',
             'Heat 211': '3:30pm',
             'Heat 212': '3:33pm',
             'Heat 213': '3:36pm',
             'Heat 214': '3:39pm',
             'Heat 215': '3:42pm',
             'Heat 216': '3:45pm',
             'Heat 301': '8:00pm',
             'Heat 302': '8:03pm',
             'Heat 303': '8:06pm',
             'Heat 304': '8:09pm',
             'Heat 305': '8:12pm',
             'Heat 306': '8:15pm',
             'Heat 307': '8:18pm',
             'Heat 308': '8:21pm',
             'Heat 309': '8:24pm',
             'Heat 310': '8:27pm',
             'Heat 311': '8:30pm',
             'Heat 312': '8:33pm',
             'Heat 313': '8:36pm',
             'Heat 314': '8:39pm',
             'Heat 315': '8:42pm',
             'Heat 316': '8:45pm',
             'Heat 401': '9:15am',
             'Heat 402': '9:18am',
             'Heat 403': '9:21am',
             'Heat 404': '9:24am',
             'Heat 405': '9:27am',
             'Heat 406': '9:30am',
             'Heat 407': '9:33am',
             'Heat 408': '9:36am',
             'Heat 409': '9:39am',
             'Heat 410': '9:42am',
             'Heat 411': '9:45am',
             'Heat 412': '9:48am',
             'Heat 413': '9:51am',
             'Heat 414': '9:54am',
             'Heat 415': '9:57am',
             'Heat 416': '10:00am',
             'Heat 501': '11:15am',
             'Heat 502': '11:18am',
             'Heat 503': '11:21am',
             'Heat 504': '11:24am',
             'Heat 505': '11:27am',
             'Heat 506': '11:30am',
             'Heat 507': '11:33am',
             'Heat 508': '11:36am',
             'Heat 509': '11:39am',
             'Heat 510': '11:42am',
             'Heat 511': '11:45am',
             'Heat 512': '11:48am',
             'Heat 513': '11:51am',
             'Heat 514': '11:54am',
             'Heat 515': '11:57am',
             'Heat 516': '12:00pm'}

In [3]:
sart17 = SART(r0_seeds, h_pairs, fd_into_ht_pairs, columns, start_times)

#### Call Functions to prepare the keys for our DataFrame
- Using the r0_seeds, h_pairs, and fd_into_ht_pairs data
- This is done in a few functions behind the scenes for this class

In [4]:
sart17.prepare_sd_h_keys()

#### Create the Bracket DataFrame

In [5]:
sart17.create_bracket()

In [6]:
sart17.bracket_df.head()

     Round  Nxt_Heat First_name Surname Time Nxt_Heat_Time
Seed
1        0  Heat 101        NaN     NaN  NaN       12:00pm
2        0  Heat 109        NaN     NaN  NaN       12:24pm
3        0  Heat 113        NaN     NaN  NaN       12:36pm
4        0  Heat 105        NaN     NaN  NaN       12:12pm
5        0  Heat 107        NaN     NaN  NaN       12:18pm

In [7]:
sart17.bracket_df.info()
#for a bracket of 80 people and 5 rounds, total s/b 400 and it is

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 1 to W416
Data columns (total 6 columns):
Round            400 non-null object
Nxt_Heat         400 non-null object
First_name       0 non-null object
Surname          0 non-null object
Time             0 non-null object
Nxt_Heat_Time    400 non-null object
dtypes: object(6)
memory usage: 21.9+ KB

## Time Trial

#### Process the time trial results
- Use the CSV results file pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [8]:
sart17.process_time_trial_results('2017_event_files/TT_R0_Results.csv')

In [9]:
sart17._check_TT_for_ties()

'Warning: Ties exist - diff in list length is 9.  Fix before proceeding.'

In [10]:
sart17.tt_df_cleaned.tail(10)

     Surname First_name     Time  Seed
64    Kelley        Jud  0:13:06    65
65  Forgrave        Bob  0:13:08    66
66     Ricks     Kristy  0:13:21    67
67     Byers       Kate  0:13:45    68
68    Nasman     Linnea  0:13:45    69
69  Buchholz     Larson  0:14:23    70
70    Klinge       Jill  0:14:45    71
71       Lee    Brandon  0:17:06    72
72   Hopkins       Kyle  0:17:48    73
73   Hopkins      Jared  0:33:52    74

In [11]:
sart17.tt_df_cleaned.sort_values(by='Seed', inplace=True)

#Adjusting seeds to break ties based on time at go control:

#Chris, Brett
sart17.tt_df_cleaned.loc['21', ['Time']] = '0:09:24'
sart17.tt_df_cleaned.loc['22', ['Time']] = '0:09:24.5'

#Ethan, Carlo
sart17.tt_df_cleaned.loc['24', ['Seed']] = 26
sart17.tt_df_cleaned.loc['24', ['Time']] = '0:09:26.5'
sart17.tt_df_cleaned.loc['25', ['Seed']] = 25
sart17.tt_df_cleaned.loc['25', ['Time']] = '0:09:26'

#Ott, Kyle
sart17.tt_df_cleaned.loc['27', ['Time']] = '0:09:35'
sart17.tt_df_cleaned.loc['28', ['Time']] = '0:09:35.5'

#Rachel, Matt F
sart17.tt_df_cleaned.loc['31', ['Time']] = '0:09:51'
sart17.tt_df_cleaned.loc['32', ['Time']] = '0:09:51.5'

#David V, RJ
sart17.tt_df_cleaned.loc['39', ['Seed']] = 41
sart17.tt_df_cleaned.loc['39', ['Time']] = '0:10:13.5'
sart17.tt_df_cleaned.loc['40', ['Seed']] = 40
sart17.tt_df_cleaned.loc['40', ['Time']] = '0:10:13'

#Christophe, Ryan B
sart17.tt_df_cleaned.loc['43', ['Seed']] = 45
sart17.tt_df_cleaned.loc['43', ['Time']] = '0:10:17.5'
sart17.tt_df_cleaned.loc['44', ['Seed']] = 44
sart17.tt_df_cleaned.loc['44', ['Time']] = '0:10:17'

#Sherri Jessica, Joanne
sart17.tt_df_cleaned.loc['48', ['Seed']] = 49
sart17.tt_df_cleaned.loc['48', ['Time']] = '0:10:36'
sart17.tt_df_cleaned.loc['49', ['Seed']] = 51
sart17.tt_df_cleaned.loc['49', ['Time']] = '0:10:36.5'
sart17.tt_df_cleaned.loc['50', ['Seed']] = 50
sart17.tt_df_cleaned.loc['50', ['Time']] = '0:10:36.2'

#Kate, Linnea
sart17.tt_df_cleaned.loc['67', ['Time']] = '0:13:45'
sart17.tt_df_cleaned.loc['68', ['Time']] = '0:13:45.5'

#Add DNS's
sart17.tt_df_cleaned.loc['74', ['Surname']] = 'Cassata'
sart17.tt_df_cleaned.loc['74', ['First_name']] = 'Julie'
sart17.tt_df_cleaned.loc['74', ['Time']] = '0:59:00'
sart17.tt_df_cleaned.loc['74', ['Seed']] = 75
#sart17.tt_df_cleaned.loc['75', ['Heat']] = 116 #get from bracket_df

sart17.tt_df_cleaned.loc['75', ['Surname']] = 'Bone'
sart17.tt_df_cleaned.loc['75', ['First_name']] = 'Eric'
sart17.tt_df_cleaned.loc['75', ['Time']] = '0:59:10'
sart17.tt_df_cleaned.loc['75', ['Seed']] = 76
#sart17.tt_df_cleaned.loc['76', ['Heat']] = 108 #get from bracket_df

sart17.tt_df_cleaned.loc['76', ['Surname']] = 'Cutler'
sart17.tt_df_cleaned.loc['76', ['First_name']] = 'Courtney'
sart17.tt_df_cleaned.loc['76', ['Time']] = '0:59:20'
sart17.tt_df_cleaned.loc['76', ['Seed']] = 77
#sart17.tt_df_cleaned.loc['77', ['Heat']] = 106 #get from bracket_df

sart17.tt_df_cleaned.loc['77', ['Surname']] = 'Ratliff'
sart17.tt_df_cleaned.loc['77', ['First_name']] = 'Hayden'
sart17.tt_df_cleaned.loc['77', ['Time']] = '0:59:30'
sart17.tt_df_cleaned.loc['77', ['Seed']] = 78
#sart17.tt_df_cleaned.loc['78', ['Heat']] = 114 #get from bracket_df

sart17.tt_df_cleaned.loc['78', ['Surname']] = 'Smith'
sart17.tt_df_cleaned.loc['78', ['First_name']] = 'Ben'
sart17.tt_df_cleaned.loc['78', ['Time']] = '0:59:40'
sart17.tt_df_cleaned.loc['78', ['Seed']] = 79
#sart17.tt_df_cleaned.loc['79', ['Heat']] = 110 #get from bracket_df

sart17.tt_df_cleaned.loc['79', ['Surname']] = 'Gusiatnikov'
sart17.tt_df_cleaned.loc['79', ['First_name']] = 'Vladimir'
sart17.tt_df_cleaned.loc['79', ['Time']] = '0:59:50'
sart17.tt_df_cleaned.loc['79', ['Seed']] = 80
#sart17.tt_df_cleaned.loc['80', ['Heat']] = 102 #get from bracket_df

#These steps completed by reviewing data and pulling tie-breakers from SS; tie break is who is ahead at the go control

#### Add the time trial results to the Bracket DataFrame Using Seed as Key
- Now each person has their Round 1 Heat Assignment since those were already associated with each seed in the Bracket DF

In [12]:
sart17.add_time_trial_results()

No Ties, results added to bracket!

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [13]:
from __future__ import print_function
print(*sart17.print_heat_assigns(1), sep='\n', file = open("2017_event_files/R1_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [14]:
r1_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('2017_event_files/EntryForOE-R01-Lynndale-preevent.csv', 0)
#Round must be put in as an integer here!

In [15]:
r1_ss_import.to_csv('2017_event_files/SS_import_R1_with_heats.csv', index=False)

## Round 1

#### Import and process the results from Round 1

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [16]:
r1_results = sart17.clean_results_csv('2017_event_files/R1_Lynndale_Results.csv')
r1_results.sort_values(by='Heat', inplace=True)

r1_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, 4 to 73
Data columns (total 4 columns):
Surname       76 non-null object
First_name    76 non-null object
Time          76 non-null object
Heat          76 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.0+ KB

In [17]:
r1_results[r1_results['Heat']==111], r1_results[r1_results['Heat']==112]

(     Surname First_name     Time  Heat
 51    Klinge       Jill  0:33:44   111
 49    Mihata     Annika  0:23:17   111
 47    Laraia     Thomas  0:18:09   111
 48  O'Connor      Ethan  0:22:19   111
 50  Colleran     Joshua  0:23:19   111,
       Surname First_name     Time  Heat
 52    Doubson      Julia  0:18:09   112
 56    Hopkins      Jared  0:42:51   112
 54   Buchholz      Brett  0:21:26   112
 55   Collings      Laura  0:25:00   112
 53  Potrebich       Nina  0:20:28   112)

In [18]:
#break ties:

#Thomas L, Julia D
r1_results.loc['47', ['Time']] = '0:18:09.5'

#Set high times to drive mp and dnfs to last seeds:

#Lillian Bakker mp
r1_results.loc['42', ['Time']] = '59:00'

#Jared Hopkins dnf
r1_results.loc['56', ['Time']] = '59:01'

#Added dns'
r1_results.loc['76', ['Surname']] = 'Gusiatnikov'
r1_results.loc['76', ['First_name']] = 'Vladimir'
r1_results.loc['76', ['Time']] = '59:10'
r1_results.loc['76', ['Heat']] = 102 #get heat from bracket_df

r1_results.loc['77', ['Surname']] = 'Cutler'
r1_results.loc['77', ['First_name']] = 'Courtney'
r1_results.loc['77', ['Time']] = '59:20'
r1_results.loc['77', ['Heat']] = 114 #get heat from bracket_df

r1_results.loc['78', ['Surname']] = 'Smith'
r1_results.loc['78', ['First_name']] = 'Ben'
r1_results.loc['78', ['Time']] = '59:30'
r1_results.loc['78', ['Heat']] = 110 #get heat from bracket_df

r1_results.loc['79', ['Surname']] = 'Ratliff'
r1_results.loc['79', ['First_name']] = 'Hayden'
r1_results.loc['79', ['Time']] = '59:40'
r1_results.loc['79', ['Heat']] = 106 #get heat from bracket_df

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [19]:
sart17.nxt_ht_assigns(r1_results, 1)

No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!

In [20]:
#visual for example purposes:
sart17.bracket_df[sart17.bracket_df['Nxt_Heat'] == 'Heat 206']

           Round  Nxt_Heat First_name       Surname     Time Nxt_Heat_Time
Seed
105/106-Q4     1  Heat 206       Kyle  Haddad-Fonda  0:21:43        3:15pm
105/106-Q5     1  Heat 206      Emily          Ross  0:22:53        3:15pm
105/106-Q6     1  Heat 206       Oleg   Slyusarchuk  0:23:39        3:15pm
105/106-Q7     1  Heat 206       Kate         Byers  0:32:49        3:15pm
105/106-Q8     1  Heat 206     Hayden       Ratliff    59:40        3:15pm

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [21]:
print(*sart17.print_heat_assigns(2), sep='\n', file = open("2017_event_files/R2_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [22]:
r2_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('2017_event_files/EntryForOE-R02-EdmondsCC-preevent.csv', 1)
#Round must be put in as an integer here!

In [23]:
r2_ss_import.to_csv('2017_event_files/SS_import_R2_with_heats.csv', index=False)

## Round 2

#### Import and process the results from Round 2

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [24]:
r2_results = sart17.clean_results_csv('2017_event_files/R2_EdmondsCC_Results.csv')
r2_results.sort_values(by='Heat', inplace=True)

r2_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, 0 to 75
Data columns (total 4 columns):
Surname       76 non-null object
First_name    76 non-null object
Time          76 non-null object
Heat          76 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.0+ KB

In [25]:
#break ties:

#Format: r1_results.loc['67', ['Time']] = '17:19.5'

#Set high times to drive mp and dnfs to last seeds:

#Tom Herrnstein, mp
r2_results.loc['60', ['Time']] = '55:10'

#Bruce C, mp
r2_results.loc['59', ['Time']] = '55:20'

#Don H, dsq olive green
r2_results.loc['36', ['Time']] = '55:30'

#Added dns's
r2_results.loc['76', ['Surname']] = 'Gusiatnikov'
r2_results.loc['76', ['First_name']] = 'Vladimir'
r2_results.loc['76', ['Time']] = '59:10'
r2_results.loc['76', ['Heat']] = 202 #get heat from bracket_df

r2_results.loc['77', ['Surname']] = 'Hopkins'
r2_results.loc['77', ['First_name']] = 'Kyle'
r2_results.loc['77', ['Time']] = '59:20'
r2_results.loc['77', ['Heat']] = 204 #get heat from bracket_df

r2_results.loc['78', ['Surname']] = 'Smith'
r2_results.loc['78', ['First_name']] = 'Ben'
r2_results.loc['78', ['Time']] = '59:30'
r2_results.loc['78', ['Heat']] = 210 #get heat from bracket_df

r2_results.loc['79', ['Surname']] = 'Ratliff'
r2_results.loc['79', ['First_name']] = 'Hayden'
r2_results.loc['79', ['Time']] = '59:40'
r2_results.loc['79', ['Heat']] = 206 #get heat from bracket_df

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [26]:
sart17.nxt_ht_assigns(r2_results, 2)

No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!

In [27]:
#visual for example purposes:
sart17.bracket_df[sart17.bracket_df['Nxt_Heat'] == 'Heat 316']

           Round  Nxt_Heat First_name     Surname     Time Nxt_Heat_Time
Seed
201/203-Q1     2  Heat 316       Mark       Prior  0:15:19        8:45pm
201/203-Q2     2  Heat 316      Carlo  Giacometti  0:17:25        8:45pm
201/203-Q3     2  Heat 316      Brian      Gruber  0:18:21        8:45pm
W201           2  Heat 316       Will       Enger  0:14:28        8:45pm
W203           2  Heat 316      David      Bakker  0:15:11        8:45pm

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [28]:
print(*sart17.print_heat_assigns(3), sep='\n', file = open("2017_event_files/R3_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [29]:
r3_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('2017_event_files/EntryForOE-R03-LynnwoodGolf-preevent.csv', 2)
#Round must be put in as an integer here!

In [30]:
r3_ss_import.to_csv('2017_event_files/SS_import_R3_with_heats.csv', index=False)

## Round 3

#### Import and process the results from Round 3

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [43]:
r3_results = sart17.clean_results_csv('2017_event_files/R3_LynnwoodGolf_Results.csv')
r3_results.sort_values(by='Heat', inplace=True)

r3_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, 4 to 74
Data columns (total 4 columns):
Surname       76 non-null object
First_name    76 non-null object
Time          76 non-null object
Heat          76 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.0+ KB

In [44]:
#break ties:
#no ties to break

#Set high times to drive mp and dnfs to last seeds:

#Don Haliburton, mp
r3_results.loc['13', ['Time']] = '55:10'


#Add dns's:

r3_results.loc['76', ['Surname']] = 'Gusiatnikov'
r3_results.loc['76', ['First_name']] = 'Vladimir'
r3_results.loc['76', ['Time']] = '59:10'
r3_results.loc['76', ['Heat']] = 304 #get heat from bracket_df

r3_results.loc['77', ['Surname']] = 'Prior'
r3_results.loc['77', ['First_name']] = 'Mark'
r3_results.loc['77', ['Time']] = '59:20'
r3_results.loc['77', ['Heat']] = 316 #get heat from bracket_df

r3_results.loc['78', ['Surname']] = 'Devine'
r3_results.loc['78', ['First_name']] = 'Cameron'
r3_results.loc['78', ['Time']] = '59:30'
r3_results.loc['78', ['Heat']] = 310 #get heat from bracket_df

r3_results.loc['79', ['Surname']] = 'Ratliff'
r3_results.loc['79', ['First_name']] = 'Hayden'
r3_results.loc['79', ['Time']] = '59:40'
r3_results.loc['79', ['Heat']] = 303 #get heat from bracket_df

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [45]:
sart17.nxt_ht_assigns(r3_results, 3)

No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!

In [46]:
#visual for example purposes:
sart17.bracket_df[(sart17.bracket_df['Nxt_Heat'] == 'Heat 411')]

           Round  Nxt_Heat  First_name         Surname     Time Nxt_Heat_Time
Seed
309/310-Q1     3  Heat 411        Nina       Potrebich  0:20:00        9:45am
309/310-Q2     3  Heat 411       Ethan        O'Connor  0:20:09        9:45am
309/310-Q3     3  Heat 411        Rick        Breseman  0:21:07        9:45am
W309           3  Heat 411       Bruce  Christopherson  0:20:23        9:45am
W310           3  Heat 411  Anastasiya        Gordeeva  0:18:28        9:45am

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [47]:
print(*sart17.print_heat_assigns(4), sep='\n', file = open("2017_event_files/R4_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [48]:
r4_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('2017_event_files/EntryForOE-R04-SouthSeattleColl1-preevent.csv', 3)
#Round must be put in as an integer here!

In [49]:
r4_ss_import.to_csv('2017_event_files/SS_import_R4_with_heats.csv', index=False)

# Round 4

#### Import and process the results from Round 4

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [50]:
r4_results = sart17.clean_results_csv('2017_event_files/R4_SSC1_Results.csv')
r4_results.sort_values(by='Heat', inplace=True)

r4_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 1 to 72
Data columns (total 4 columns):
Surname       77 non-null object
First_name    77 non-null object
Time          75 non-null object
Heat          77 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.0+ KB

In [51]:
#break ties:

r4_results.loc['70', ['Time']] = '0:13:38'
r4_results.loc['74', ['Time']] = '0:13:38.5'


#Set high times to drive mp and dnfs to last seeds:

r4_results.loc['4', ['Time']] = '55:40' #Lillian B dnf
r4_results.loc['3', ['Time']] = '55:35'#Bob F mp
r4_results.loc['46', ['Time']] = '55:30' #Kevin M dnf
r4_results.loc['12', ['Time']] = '55:25' #Jared H mp
r4_results.loc['61', ['Time']] = '55:20' #Sue G mp
r4_results.loc['66', ['Time']] = '55:15' #Ott mp
r4_results.loc['65', ['Time']] = '55:10' #Tori B mp


#Added dns's

#Format:
r4_results.loc['77', ['Surname']] = 'Gusiatnikov'
r4_results.loc['77', ['First_name']] = 'Vladimir'
r4_results.loc['77', ['Time']] = '59:10'
r4_results.loc['77', ['Heat']] = 402 #get heat from bracket_df

r4_results.loc['78', ['Surname']] = 'Ratliff'
r4_results.loc['78', ['First_name']] = 'Hayden'
r4_results.loc['78', ['Time']] = '59:20'
r4_results.loc['78', ['Heat']] = 402 #get heat from bracket_df

r4_results.loc['79', ['Surname']] = 'Ferguson'
r4_results.loc['79', ['First_name']] = 'Matthew'
r4_results.loc['79', ['Time']] = '59:30'
r4_results.loc['79', ['Heat']] = 406 #get heat from bracket_df

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [52]:
sart17.nxt_ht_assigns(r4_results, 4)

No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!
No Ties, proceeding with next heat assignments!

In [53]:
#visual for example purposes:
sart17.bracket_df[(sart17.bracket_df['Nxt_Heat'] == 'Heat 501')]

           Round  Nxt_Heat First_name      Surname     Time Nxt_Heat_Time
Seed
401/402-Q4     4  Heat 501    Brandon          Lee  0:47:30       11:15am
401/402-Q5     4  Heat 501        Bob     Forgrave    55:35       11:15am
401/402-Q6     4  Heat 501    Lillian       Bakker    55:40       11:15am
401/402-Q7     4  Heat 501   Vladimir  Gusiatnikov    59:10       11:15am
401/402-Q8     4  Heat 501     Hayden      Ratliff    59:20       11:15am

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [54]:
print(*sart17.print_heat_assigns(5), sep='\n', file = open("2017_event_files/R5_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [55]:
r5_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('2017_event_files/EntryForOE-R05-SouthSeattleColl2-Champs-preevent.csv', 4)
#Round must be put in as an integer here!

In [56]:
r5_ss_import.to_csv('2017_event_files/SS_import_R5_with_heats.csv')

## Round 5

#### Import and process the results from Round 5

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [69]:
r5_results = sart17.clean_results_csv('2017_event_files/R5_SSC2Champs_Results.csv')

In [70]:
r5_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 67 to 8
Data columns (total 4 columns):
Surname       72 non-null object
First_name    72 non-null object
Time          72 non-null object
Heat          72 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.8+ KB

In [71]:
r5_results.sort_values(by=['Heat', 'Time'], ascending=[False, True], inplace=True)

In [72]:
r5_results.reset_index(inplace=True, drop=True)
r5_results.index += 1

In [73]:
#break ties:
#Format: r5_results.loc['11', ['Time']] = '29:45.5' #Jud vs Terry

#Set high times to drive mp and dnfs (and disqs) to last seeds:

r5_results.loc['4', ['Time']] = '55:00' #Courtney C mp
r5_results.loc['17', ['Time']] = '55:10' #Shannon C mp
r5_results.loc['22', ['Time']] = '55:20' #Janne M mp
r5_results.loc['46', ['Time']] = '55:30' #Christophe mp

#Added dns's

r5_results.loc['75', ['Surname']] = 'Lee'
r5_results.loc['75', ['First_name']] = 'Brandon'
r5_results.loc['75', ['Time']] = '59:10'
r5_results.loc['75', ['Heat']] = 501 #get heat from bracket_df

r5_results.loc['76', ['Surname']] = 'Bakker'
r5_results.loc['76', ['First_name']] = 'Lillian'
r5_results.loc['76', ['Time']] = '59:20'
r5_results.loc['76', ['Heat']] = 501 #get heat from bracket_df

r5_results.loc['77', ['Surname']] = 'Gusiatnikov'
r5_results.loc['77', ['First_name']] = 'Vladimir'
r5_results.loc['77', ['Time']] = '59:30'
r5_results.loc['77', ['Heat']] = 501 #get heat from bracket_df

r5_results.loc['78', ['Surname']] = 'Ratliff'
r5_results.loc['78', ['First_name']] = 'Hayden'
r5_results.loc['78', ['Time']] = '59:40'
r5_results.loc['78', ['Heat']] = 501 #get heat from bracket_df

r5_results.loc['79', ['Surname']] = 'Ferguson'
r5_results.loc['79', ['First_name']] = 'Matthew'
r5_results.loc['79', ['Time']] = '59:50'
r5_results.loc['79', ['Heat']] = 505 #get heat from bracket_df

#### print .txt file with final results!

In [75]:
print(*sart17.print_final_results(r5_results), sep='\n', file = open("2017_event_files/Final_Results.txt", 'w'))

No ties, proceeding with print out