## Initial Event Preparation
- Occurs pre-event
- Instantiate class and define bracket format via the dictionary and lists of tuples as shown below

#### Important Note:
Final registration includes 57 people for this year.  Utilize definitions and functions for 56 people and also execute function for adding the one-off 57th person to the bracket format.  The time calculations and next heat assignments functions will handle the 57th person as-is.

In [1]:
from SART_Class_v4 import SART
import pandas as pd

In [2]:
#ALL UPDATES FOR 2018 COMPLETE, INCLUDES CHANGE TO 64 PERSON BRACKET
#Round 0 seeding assignments for Round 1 Heats:
r0_seeds = {'Heat 101': [1, 32, 33, 64], 'Heat 102': [16, 17, 48, 49],
    'Heat 103': [8, 25, 40, 57], 'Heat 104': [9, 24, 41, 56],
    'Heat 105': [4, 29, 36, 61], 'Heat 106': [13, 20, 45, 52],
    'Heat 107': [5, 28, 37, 60], 'Heat 108': [12, 21, 44, 53],
    'Heat 109': [2, 31, 34, 63], 'Heat 110': [15, 18, 47, 50],
    'Heat 111': [7, 26, 39, 58], 'Heat 112': [10, 23, 42, 55],
    'Heat 113': [3, 30, 35, 62], 'Heat 114': [14, 19, 46, 51],
    'Heat 115': [6, 27, 38, 59], 'Heat 116': [11, 22, 43, 54]}

r0_seeds_fiftysix = {'Heat 101': [1, 32, 33], 'Heat 102': [16, 17, 48, 49],
    'Heat 103': [8, 25, 40], 'Heat 104': [9, 24, 41, 56],
    'Heat 105': [4, 29, 36], 'Heat 106': [13, 20, 45, 52],
    'Heat 107': [5, 28, 37], 'Heat 108': [12, 21, 44, 53],
    'Heat 109': [2, 31, 34], 'Heat 110': [15, 18, 47, 50],
    'Heat 111': [7, 26, 39], 'Heat 112': [10, 23, 42, 55],
    'Heat 113': [3, 30, 35], 'Heat 114': [14, 19, 46, 51],
    'Heat 115': [6, 27, 38], 'Heat 116': [11, 22, 43, 54]}

#Heat Pairs - prior heats and feed into heats
bef_aft_ht_pairs = [((101, 102), (201, 202)),
                     ((103, 104), (203, 204)),
                     ((105, 106), (205, 206)),
                     ((107, 108), (207, 208)),
                     ((109, 110), (209, 210)), #210 becomes 202 for 56
                     ((111, 112), (211, 212)), #212 becomes 204 for 56
                     ((113, 114), (213, 214)), #214 becomes 206 for 56
                     ((115, 116), (215, 216)), #216 becomes 208 for 56
                     ((201, 203), (301, 302)),
                     ((205, 207), (305, 306)),
                     ((209, 211), (309, 310)),
                     ((213, 215), (313, 314)),
                     ((202, 204), (303, 304)),
                     ((206, 208), (307, 308)),
                     ((210, 212), (311, 312)), #remove this line for 56, include for 64
                     ((214, 216), (315, 316)), #remove this line for 56, include for 64
                     ((301, 305), (416, 414)),
                     ((309, 313), (415, 413)),
                     ((302, 306), (412, 410)),
                     ((310, 314), (411, 409)),
                     ((303, 307), (408, 406)),
                     ((311, 315), (407, 405)), #remove this line for 56, include for 64
                     ((304, 308), (404, 402)),
                     ((312, 316), (403, 401)), #remove this line for 56, include for 64
                     ((416, 415), (516, 515)),
                     ((414, 413), (514, 513)),
                     ((412, 411), (512, 511)),
                     ((410, 409), (510, 509)),
                     ((408, 407), (508, 507)),
                     ((406, 405), (506, 505)),
                     ((404, 403), (504, 503)),
                     ((402, 401), (502, 501))]

bef_aft_ht_pairs_fiftysix = [((101, 102), (201, 202)),
                     ((103, 104), (203, 204)),
                     ((105, 106), (205, 206)),
                     ((107, 108), (207, 208)),
                     ((109, 110), (209, 202)), #210 becomes 202 for 56
                     ((111, 112), (211, 204)), #212 becomes 204 for 56
                     ((113, 114), (213, 206)), #214 becomes 206 for 56
                     ((115, 116), (215, 208)), #216 becomes 208 for 56
                     ((201, 203), (301, 302)),
                     ((205, 207), (305, 306)),
                     ((209, 211), (309, 310)),
                     ((213, 215), (313, 314)),
                     ((202, 204), (303, 304)),
                     ((206, 208), (307, 308)),
                     #((210, 212), (311, 312)), #remove this line for 56, include for 64
                     #((214, 216), (315, 316)), #remove this line for 56, include for 64
                     ((301, 305), (416, 414)),
                     ((309, 313), (415, 413)),
                     ((302, 306), (412, 410)),
                     ((310, 314), (411, 409)),
                     ((303, 307), (408, 406)),
                     #((311, 315), (407, 405)), #remove this line for 56, include for 64
                     ((304, 308), (404, 402)),
                     #((312, 316), (403, 401)), #remove this line for 56, include for 64
                     ((416, 415), (516, 515)),
                     ((414, 413), (514, 513)),
                     ((412, 411), (512, 511)),
                     ((410, 409), (510, 509)),
                     ((408, 408), (508, 508)), #407, 507 are empty - same group of 6 for 408, 508
                     ((406, 406), (506, 506)), #405, 505 are empty - same group of 6 for 406, 506
                     ((404, 404), (504, 504)), #403, 503 are empty - same group of 6 for 404, 504
                     ((402, 402), (502, 502))] #401, 501 are empty - same group of 6 for 402, 502

#Only needed for 56 person bracket; don't need for 64 person bracket
six_person_heats_R2_R3 = [202, 204, 206, 208, 303, 304, 307, 308]
six_person_heats_R4 = [408, 406, 404, 402]

#Bracket columns:
columns = ['Round', 'Nxt_Heat', 'First_name', 'Surname', 'Time', 'Nxt_Heat_Time']

#Heat start times:
#Round 1 - 11:15am - 12pm
#Round 2 - 2:15 - 3:00pm
#Round 3 - 4:15 - 5pm
#Round 4 - 9:15 - 10am
#Round 5 - 11:15am - 12pm
start_times = {'Heat 101': '11:15am',
             'Heat 102': '11:18am',
             'Heat 103': '11:21am',
             'Heat 104': '11:24am',
             'Heat 105': '11:27am',
             'Heat 106': '11:30am',
             'Heat 107': '11:33am',
             'Heat 108': '11:36am',
             'Heat 109': '11:39am',
             'Heat 110': '11:42am',
             'Heat 111': '11:45am',
             'Heat 112': '11:48am',
             'Heat 113': '11:51am',
             'Heat 114': '11:54am',
             'Heat 115': '11:57am',
             'Heat 116': '12:00pm',
             'Heat 201': '2:15pm',
             'Heat 202': '2:18pm',
             'Heat 203': '2:21pm',
             'Heat 204': '2:24pm',
             'Heat 205': '2:27pm',
             'Heat 206': '2:30pm',
             'Heat 207': '2:33pm',
             'Heat 208': '2:36pm',
             'Heat 209': '2:39pm',
             'Heat 210': '2:42pm',
             'Heat 211': '2:45pm',
             'Heat 212': '2:48pm',
             'Heat 213': '2:51pm',
             'Heat 214': '2:54pm',
             'Heat 215': '2:57pm',
             'Heat 216': '3:00pm',
             'Heat 301': '4:15pm',
             'Heat 302': '4:18pm',
             'Heat 303': '4:21pm',
             'Heat 304': '4:24pm',
             'Heat 305': '4:27pm',
             'Heat 306': '4:30pm',
             'Heat 307': '4:33pm',
             'Heat 308': '4:36pm',
             'Heat 309': '4:39pm',
             'Heat 310': '4:42pm',
             'Heat 311': '4:45pm',
             'Heat 312': '4:48pm',
             'Heat 313': '4:51pm',
             'Heat 314': '4:54pm',
             'Heat 315': '4:57pm',
             'Heat 316': '5:00pm',
             'Heat 401': '9:15am',
             'Heat 402': '9:18am',
             'Heat 403': '9:21am',
             'Heat 404': '9:24am',
             'Heat 405': '9:27am',
             'Heat 406': '9:30am',
             'Heat 407': '9:33am',
             'Heat 408': '9:36am',
             'Heat 409': '9:39am',
             'Heat 410': '9:42am',
             'Heat 411': '9:45am',
             'Heat 412': '9:48am',
             'Heat 413': '9:51am',
             'Heat 414': '9:54am',
             'Heat 415': '9:57am',
             'Heat 416': '10:00am',
             'Heat 501': '11:15am',
             'Heat 502': '11:18am',
             'Heat 503': '11:21am',
             'Heat 504': '11:24am',
             'Heat 505': '11:27am',
             'Heat 506': '11:30am',
             'Heat 507': '11:33am',
             'Heat 508': '11:36am',
             'Heat 509': '11:39am',
             'Heat 510': '11:42am',
             'Heat 511': '11:45am',
             'Heat 512': '11:48am',
             'Heat 513': '11:51am',
             'Heat 514': '11:54am',
             'Heat 515': '11:57am',
             'Heat 516': '12:00pm'}

In [3]:
sart18 = SART(r0_seeds_fiftysix, bef_aft_ht_pairs_fiftysix, columns, start_times, six_person_heats_R2_R3, six_person_heats_R4)

#### Call Functions to prepare the keys for our DataFrame
- Using the r0_seeds and before/after heat pairs data
- This is done in a few functions behind the scenes for this class

In [4]:
sart18.prepare_sd_h_keys(alter_for_fiftysix=True, include_fiftyseven=True)

In [10]:
sart18.h_seed_key['Heat 202']

['101/102-Q3',
 '101/102-Q4',
 '101/102-Q5',
 '109/110-Q3',
 '109/110-Q4',
 '109/110-Q5']

#### Create the Bracket DataFrame

In [6]:
sart18.create_bracket()

In [14]:
sart18.bracket_df.head()

     Round  Nxt_Heat First_name Surname Time Nxt_Heat_Time
Seed
1        0  Heat 101        NaN     NaN  NaN       11:15am
2        0  Heat 109        NaN     NaN  NaN       11:39am
3        0  Heat 113        NaN     NaN  NaN       11:51am
4        0  Heat 105        NaN     NaN  NaN       11:27am
5        0  Heat 107        NaN     NaN  NaN       11:33am

In [15]:
sart18.bracket_df.to_csv('2018_event_files/PreEvent_Bracket_Dataframe.csv')

In [16]:
sart18.bracket_df.info()
#for a bracket of 57 people and 5 rounds, total s/b 285 and it is

<class 'pandas.core.frame.DataFrame'>
Index: 285 entries, 1 to W416
Data columns (total 6 columns):
Round            285 non-null object
Nxt_Heat         285 non-null object
First_name       0 non-null object
Surname          0 non-null object
Time             0 non-null object
Nxt_Heat_Time    285 non-null object
dtypes: object(6)
memory usage: 15.6+ KB

In [18]:
sart18.bracket_df[sart18.bracket_df['Nxt_Heat']=='Heat 504']

       Round  Nxt_Heat First_name Surname Time Nxt_Heat_Time
Seed
404-Q1     4  Heat 504        NaN     NaN  NaN       11:24am
404-Q2     4  Heat 504        NaN     NaN  NaN       11:24am
404-Q3     4  Heat 504        NaN     NaN  NaN       11:24am
404-Q4     4  Heat 504        NaN     NaN  NaN       11:24am
404-Q5     4  Heat 504        NaN     NaN  NaN       11:24am
404-Q6     4  Heat 504        NaN     NaN  NaN       11:24am

In [19]:
sart18.bracket_df.filter(like="204", axis=0)

            Round  Nxt_Heat First_name Surname Time Nxt_Heat_Time
Seed
202/204-Q1      2  Heat 303        NaN     NaN  NaN        4:21pm
202/204-Q10     2  Heat 304        NaN     NaN  NaN        4:24pm
202/204-Q11     2  Heat 304        NaN     NaN  NaN        4:24pm
202/204-Q2      2  Heat 303        NaN     NaN  NaN        4:21pm
202/204-Q3      2  Heat 303        NaN     NaN  NaN        4:21pm
202/204-Q4      2  Heat 303        NaN     NaN  NaN        4:21pm
202/204-Q5      2  Heat 304        NaN     NaN  NaN        4:24pm
202/204-Q6      2  Heat 304        NaN     NaN  NaN        4:24pm
202/204-Q7      2  Heat 304        NaN     NaN  NaN        4:24pm
202/204-Q8      2  Heat 304        NaN     NaN  NaN        4:24pm
202/204-Q9      2  Heat 304        NaN     NaN  NaN        4:24pm
W204            2  Heat 303        NaN     NaN  NaN        4:21pm

## Time Trial

#### Process the time trial results
- Use the CSV results file pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [ ]:
sart18.process_time_trial_results('2018_event_files/00_NSC1_TimeTrial/TT_R0_Results.csv')

In [ ]:
sart18._check_TT_for_ties()

In [ ]:
sart18.tt_df_cleaned.tail(10)

In [ ]:
sart18.tt_df_cleaned.sort_values(by='Seed', inplace=True)

#Adjusting seeds to break ties based on time at go control:

#EXAMPLES FROM LAST YEAR:
#Chris, Brett
#sart18_56.tt_df_cleaned.loc['21', ['Time']] = '0:09:24'
#sart18_56.tt_df_cleaned.loc['22', ['Time']] = '0:09:24.5'

#Ethan, Carlo
#sart18_56.tt_df_cleaned.loc['24', ['Seed']] = 26
#sart18_56.tt_df_cleaned.loc['24', ['Time']] = '0:09:26.5'
#sart18_56.tt_df_cleaned.loc['25', ['Seed']] = 25
#sart18_56.tt_df_cleaned.loc['25', ['Time']] = '0:09:26'

#Add DNS's
#sart17.tt_df_cleaned.loc['74', ['Surname']] = 'Cassata'
#sart17.tt_df_cleaned.loc['74', ['First_name']] = 'Julie'
#sart17.tt_df_cleaned.loc['74', ['Time']] = '0:59:00'
#sart17.tt_df_cleaned.loc['74', ['Seed']] = 75
#sart17.tt_df_cleaned.loc['75', ['Heat']] = 116 #get from bracket_df

#These steps completed by reviewing data and pulling tie-breakers from SS; tie break is who is ahead at the go control

#### Add the time trial results to the Bracket DataFrame Using Seed as Key
- Now each person has their Round 1 Heat Assignment since those were already associated with each seed in the Bracket DF

In [ ]:
sart18.add_time_trial_results()

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [ ]:
from __future__ import print_function
print(*sart18.print_heat_assigns(1), sep='\n', file = open("2018_event_files/01_NSC2/R1_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [ ]:
r1_ss_import = sart18.assign_nxt_ht_to_ss_import_csv('2018_event_files/01_NSC2/EntryForOE-20180906074203-R01-PreEvent.csv', 0)
#Round must be put in as an integer here!

In [ ]:
r1_ss_import.to_csv('2018_event_files/01_NSC2/SS_import_R1_with_heats.csv', index=False)

## Round 1

#### Import and process the results from Round 1

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [ ]:
r1_results = sart18.clean_results_csv('2018_event_files/01_NSC2/R1_NSC_Results.csv')
r1_results.sort_values(by='Heat', inplace=True)

r1_results.reset_index(inplace=True, drop=True) #not required for actual event; necessary due to way test file was edited to support test
r1_results.info()

In [ ]:
r1_results.head()

In [ ]:
r1_results[r1_results['Heat']==111], r1_results[r1_results['Heat']==112]

In [ ]:
#break ties:

#Thomas L, Julia D
#r1_results.loc[39, ['Time']] = '0:18:09.5'

#Set high times to drive mp and dnfs to last seeds:

#Lillian Bakker mp
#r1_results.loc['42', ['Time']] = '59:00'

#Jared Hopkins dnf
#r1_results.loc['56', ['Time']] = '59:01'

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [ ]:
sart18.nxt_ht_assigns_fiftysix(r1_results, 1)

In [ ]:
#visual for example purposes:
sart18.bracket_df[sart18.bracket_df['Nxt_Heat'] == 'Heat 208']

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [ ]:
print(*sart18.print_heat_assigns(2), sep='\n', file = open("2018_event_files/02_Shorecrest1/R2_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [ ]:
r2_ss_import = sart18.assign_nxt_ht_to_ss_import_csv('2018_event_files/02_Shorecrest1/EntryForOE-20180906074203-R02-PreEvent.csv', 1)
#Round must be put in as an integer here!

In [ ]:
r2_ss_import.to_csv('2018_event_files/02_Shorecrest1/SS_import_R2_with_heats.csv', index=False)

In [ ]:
r2_ss_import[r2_ss_import['Long']=='Heat 208']

## Round 2

#### Import and process the results from Round 2

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [ ]:
r2_results = sart18.clean_results_csv('2018_event_files/02_Shorecrest1/R2_Shorecrest1_Results.csv')
r2_results.sort_values(by='Heat', inplace=True)

r2_results.reset_index(inplace=True, drop=True) #not required for actual event; necessary due to way test file was edited to support test

r2_results.info()

In [ ]:
r2_results[r2_results['Heat']==204]

In [ ]:
#break ties:

#Format: r1_results.loc['67', ['Time']] = '17:19.5'

#Set high times to drive mp and dnfs to last seeds:

#Tom Herrnstein, mp
#r2_results.loc[45, ['Time']] = '55:10'

#Bruce C, mp
#r2_results.loc[46, ['Time']] = '55:20'

#Don H, dsq olive green
#r2_results.loc[26, ['Time']] = '55:30'

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [ ]:
sart18.nxt_ht_assigns_fiftysix(r2_results, 2)

In [ ]:
#visual for example purposes:
sart18.bracket_df[sart18.bracket_df['Nxt_Heat'] == 'Heat 303']

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [ ]:
print(*sart18.print_heat_assigns(3), sep='\n', file = open("2018_event_files/03_Shorecrest2/R3_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [ ]:
r3_ss_import = sart18.assign_nxt_ht_to_ss_import_csv('2018_event_files/03_Shorecrest2/EntryForOE-20180906074203-R03-PreEvent.csv', 2)
#Round must be put in as an integer here!

In [ ]:
r3_ss_import.to_csv('2018_event_files/03_Shorecrest2/SS_import_R3_with_heats.csv', index=False)

In [ ]:
r3_ss_import[r3_ss_import['Long']=='Heat 310']

## Round 3

#### Import and process the results from Round 3

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [ ]:
r3_results = sart18.clean_results_csv('2018_event_files/03_Shorecrest2/R3_Shorecrest2_Results.csv')
r3_results.sort_values(by='Heat', inplace=True)

r3_results.info()

In [ ]:
r3_results.reset_index(inplace=True, drop=True)

In [ ]:
r3_results.tail()

In [ ]:
#break ties:
#no ties to break

#Set high times to drive mp and dnfs to last seeds:

#Don Haliburton, mp
#r3_results.loc[33, ['Time']] = '55:10'


#Add dns's:

#r3_results.loc['76', ['Surname']] = 'Gusiatnikov'
#r3_results.loc['76', ['First_name']] = 'Vladimir'
#r3_results.loc['76', ['Time']] = '59:10'
#r3_results.loc['76', ['Heat']] = 304 #get heat from bracket_df

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [ ]:
sart18.nxt_ht_assigns_fiftysix(r3_results, 3)

In [ ]:
#visual for example purposes:
sart18.bracket_df[(sart18.bracket_df['Nxt_Heat'] == 'Heat 404')]

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [ ]:
print(*sart18.print_heat_assigns(4), sep='\n', file = open("2018_event_files/04_Shoreline1/R4_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [ ]:
r4_ss_import = sart18.assign_nxt_ht_to_ss_import_csv('2018_event_files/04_Shoreline1/EntryForOE-20180906074203-R04-PreEvent.csv', 3)
#Round must be put in as an integer here!

In [ ]:
r4_ss_import.to_csv('2018_event_files/04_Shoreline1/SS_import_R4_with_heats.csv', index=False)

In [ ]:
r4_ss_import[r4_ss_import['Long']=='Heat 406']

# Round 4

#### Import and process the results from Round 4

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [ ]:
r4_results = sart18.clean_results_csv('2018_event_files/04_Shoreline1/R4_Shoreline1_Results.csv')
r4_results.sort_values(by='Heat', inplace=True)

r4_results.info()

In [ ]:
r4_results.reset_index(inplace=True, drop=True)

In [ ]:
r4_results[r4_results['Heat']==404]

In [ ]:
r4_results.tail()

In [ ]:
#break ties:

#r4_results.loc[47, ['Time']] = '0:13:38'
#r4_results.loc[53, ['Time']] = '0:13:38.5'


#Set high times to drive mp and dnfs to last seeds:

#r4_results.loc['4', ['Time']] = '55:40' #Lillian B dnf
#r4_results.loc['3', ['Time']] = '55:35'#Bob F mp
#r4_results.loc[30, ['Time']] = '00:55:30' #Kevin M dnf
#r4_results.loc['12', ['Time']] = '55:25' #Jared H mp
#r4_results.loc[23, ['Time']] = '00:55:20' #Sue G mp
#r4_results.loc[46, ['Time']] = '00:55:15' #Ott mp
#r4_results.loc[43, ['Time']] = '00:55:10' #Tori B mp


#Added dns's

#Format:
#r4_results.loc['77', ['Surname']] = 'Gusiatnikov'
#r4_results.loc['77', ['First_name']] = 'Vladimir'
#r4_results.loc['77', ['Time']] = '59:10'
#r4_results.loc['77', ['Heat']] = 402 #get heat from bracket_df

#r4_results.loc['78', ['Surname']] = 'Ratliff'
#r4_results.loc['78', ['First_name']] = 'Hayden'
#r4_results.loc['78', ['Time']] = '59:20'
#r4_results.loc['78', ['Heat']] = 402 #get heat from bracket_df

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [ ]:
sart18.nxt_ht_assigns_fiftysix(r4_results, 4)

In [ ]:
#visual for example purposes:
sart18.bracket_df[(sart18.bracket_df['Nxt_Heat'] == 'Heat 504')]

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [ ]:
print(*sart18.print_heat_assigns(5), sep='\n', file = open("2018_event_files/05_Shoreline2_Champs/R5_heat_assigns.txt", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [ ]:
r5_ss_import = sart18.assign_nxt_ht_to_ss_import_csv('2018_event_files/05_Shoreline2_Champs/EntryForOE-20180906074203-R05-PreEvent.csv', 4)
#Round must be put in as an integer here!

In [ ]:
r5_ss_import.to_csv('2018_event_files/05_Shoreline2_Champs/SS_import_R5_with_heats.csv')

In [ ]:
r5_ss_import[r5_ss_import['Long']=='Heat 504']

## Round 5

#### Import and process the results from Round 5

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [ ]:
r5_results = sart18.clean_results_csv('2018_event_files/05_Shoreline2_Champs/R5_Shoreline2_Results.csv')

In [ ]:
r5_results.info()

In [ ]:
#break ties:
#Format: r5_results.loc['11', ['Time']] = '29:45.5' #Jud vs Terry

#Set high times to drive mp and dnfs (and disqs) to last seeds:

#r5_results.loc['4', ['Time']] = '55:00' #Courtney C mp
#r5_results.loc['17', ['Time']] = '55:10' #Shannon C mp
#r5_results.loc[50, ['Time']] = '00:55:20' #Janne M mp
#r5_results.loc[24, ['Time']] = '00:55:30' #Christophe mp

#Added dns's

#r5_results.loc['75', ['Surname']] = 'Lee'
#r5_results.loc['75', ['First_name']] = 'Brandon'
#r5_results.loc['75', ['Time']] = '59:10'
#r5_results.loc['75', ['Heat']] = 501 #get heat from bracket_df

#r5_results.loc['76', ['Surname']] = 'Bakker'
#r5_results.loc['76', ['First_name']] = 'Lillian'
#r5_results.loc['76', ['Time']] = '59:20'
#r5_results.loc['76', ['Heat']] = 501 #get heat from bracket_df

#r5_results.loc['77', ['Surname']] = 'Gusiatnikov'
#r5_results.loc['77', ['First_name']] = 'Vladimir'
#r5_results.loc['77', ['Time']] = '59:30'
#r5_results.loc['77', ['Heat']] = 501 #get heat from bracket_df

#r5_results.loc['78', ['Surname']] = 'Ratliff'
#r5_results.loc['78', ['First_name']] = 'Hayden'
#r5_results.loc['78', ['Time']] = '59:40'
#r5_results.loc['78', ['Heat']] = 501 #get heat from bracket_df

In [ ]:
r5_results[r5_results['First_name']=='Matthew']

#### print .txt file with final results!

In [ ]:
print(*sart18.print_final_results(r4_results, r5_results), sep='\n', file = open("2018_event_files/Final_Results.txt", 'w'))