In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
h_pairs = {101: 102, 103: 104, 105: 106, 107: 108, 109: 110, 111:112, 113: 114, 115: 116, 
          201: 203, 205: 207, 209: 211, 213: 215, 202: 204, 206: 208, 210: 212, 214: 216, 
          301: 302, 303: 304, 305: 306, 307: 308, 309: 310, 311: 312, 313: 314, 315: 316,
          401: 402, 403: 404, 405: 406, 407: 408, 409: 410, 411: 412, 413: 414, 415: 416}

fd_into_ht_pairs = [(201, 202), (203, 204), (205, 206), (207, 208), (209, 210), (211, 212), 
                    (213, 214), (215, 216), (316, 312), (315, 311), (314, 310), (313, 309), 
                   (308, 304), (307, 303), (306, 302), (305, 301), (403, 401), (404, 402), 
                   (407, 405), (408, 406), (411, 409), (412, 410), (415, 413), (416, 414), 
                   (502, 501), (504, 503), (506, 505), (508, 507), (510, 509), (512, 511), 
                   (514, 513), (516, 515)]

bef_aft_ht_pairs = zip(sorted(zip(h_pairs.keys(), h_pairs.values())), fd_into_ht_pairs)

In [3]:
bef_aft_ht_pairs[0] #prior heat 1, prior heat 2, win heat, lose heat in that order

((101, 102), (201, 202))

In [4]:
def assign_ht_sd_keys(pri_heat_pair1, pri_heat_pair2, win_heat, lose_heat):
    h_seed_key['Heat {}'.format(win_heat)].append('W{}'.format(pri_heat_pair1))
    h_seed_key['Heat {}'.format(win_heat)].append('W{}'.format(pri_heat_pair2))
    for i in range(1,4):
        h_seed_key['Heat {}'.format(win_heat)].append('{}/{}-Q{}'.format(pri_heat_pair1, pri_heat_pair2, i))
    for i in range(4,9):
        h_seed_key['Heat {}'.format(lose_heat)].append('{}/{}-Q{}'.format(pri_heat_pair1, pri_heat_pair2, i))

In [5]:
from collections import defaultdict

r0_seeds = {'Heat 101': [1, 32, 33, 64, 65], 'Heat 102': [16, 17, 48, 49, 80],
             'Heat 103': [8, 25, 40, 57, 72], 'Heat 104': [9, 24, 41, 56, 73],
             'Heat 105': [4, 29, 36, 61, 68], 'Heat 106': [13, 20, 45, 52, 77], 
             'Heat 107': [5, 28, 37, 60, 69], 'Heat 108': [12, 21, 44, 53, 76], 
             'Heat 109': [2, 31, 34, 63, 66], 'Heat 110': [15, 18, 47, 50, 79],
             'Heat 111': [7, 26, 39, 58, 71], 'Heat 112': [10, 23, 42, 55, 74], 
             'Heat 113': [3, 30, 35, 62, 67], 'Heat 114': [14, 19, 46, 51, 78], 
             'Heat 115': [6, 27, 38, 59, 70], 'Heat 116': [11, 22, 43, 54, 75]}

h_seed_key = defaultdict(lambda: [], r0_seeds)

for pri_heats, wn_ls_heats in bef_aft_ht_pairs:
    pri_heat1 = pri_heats[0]
    pri_heat2 = pri_heats[1]
    win_ht = wn_ls_heats[0]
    lose_ht = wn_ls_heats[1]
    assign_ht_sd_keys(pri_heat1, pri_heat2, win_ht, lose_ht)

In [6]:
h_seed_key

defaultdict(<function __main__.<lambda>>,
            {'Heat 101': [1, 32, 33, 64, 65],
             'Heat 102': [16, 17, 48, 49, 80],
             'Heat 103': [8, 25, 40, 57, 72],
             'Heat 104': [9, 24, 41, 56, 73],
             'Heat 105': [4, 29, 36, 61, 68],
             'Heat 106': [13, 20, 45, 52, 77],
             'Heat 107': [5, 28, 37, 60, 69],
             'Heat 108': [12, 21, 44, 53, 76],
             'Heat 109': [2, 31, 34, 63, 66],
             'Heat 110': [15, 18, 47, 50, 79],
             'Heat 111': [7, 26, 39, 58, 71],
             'Heat 112': [10, 23, 42, 55, 74],
             'Heat 113': [3, 30, 35, 62, 67],
             'Heat 114': [14, 19, 46, 51, 78],
             'Heat 115': [6, 27, 38, 59, 70],
             'Heat 116': [11, 22, 43, 54, 75],
             'Heat 201': ['W101',
              'W102',
              '101/102-Q1',
              '101/102-Q2',
              '101/102-Q3'],
             'Heat 202': ['101/102-Q4',
              '101/102-Q5',
              '101/102-Q6',
              '101/102-Q7',
              '101/102-Q8'],
             'Heat 203': ['W103',
              'W104',
              '103/104-Q1',
              '103/104-Q2',
              '103/104-Q3'],
             'Heat 204': ['103/104-Q4',
              '103/104-Q5',
              '103/104-Q6',
              '103/104-Q7',
              '103/104-Q8'],
             'Heat 205': ['W105',
              'W106',
              '105/106-Q1',
              '105/106-Q2',
              '105/106-Q3'],
             'Heat 206': ['105/106-Q4',
              '105/106-Q5',
              '105/106-Q6',
              '105/106-Q7',
              '105/106-Q8'],
             'Heat 207': ['W107',
              'W108',
              '107/108-Q1',
              '107/108-Q2',
              '107/108-Q3'],
             'Heat 208': ['107/108-Q4',
              '107/108-Q5',
              '107/108-Q6',
              '107/108-Q7',
              '107/108-Q8'],
             'Heat 209': ['W109',
              'W110',
              '109/110-Q1',
              '109/110-Q2',
              '109/110-Q3'],
             'Heat 210': ['109/110-Q4',
              '109/110-Q5',
              '109/110-Q6',
              '109/110-Q7',
              '109/110-Q8'],
             'Heat 211': ['W111',
              'W112',
              '111/112-Q1',
              '111/112-Q2',
              '111/112-Q3'],
             'Heat 212': ['111/112-Q4',
              '111/112-Q5',
              '111/112-Q6',
              '111/112-Q7',
              '111/112-Q8'],
             'Heat 213': ['W113',
              'W114',
              '113/114-Q1',
              '113/114-Q2',
              '113/114-Q3'],
             'Heat 214': ['113/114-Q4',
              '113/114-Q5',
              '113/114-Q6',
              '113/114-Q7',
              '113/114-Q8'],
             'Heat 215': ['W115',
              'W116',
              '115/116-Q1',
              '115/116-Q2',
              '115/116-Q3'],
             'Heat 216': ['115/116-Q4',
              '115/116-Q5',
              '115/116-Q6',
              '115/116-Q7',
              '115/116-Q8'],
             'Heat 301': ['214/216-Q4',
              '214/216-Q5',
              '214/216-Q6',
              '214/216-Q7',
              '214/216-Q8'],
             'Heat 302': ['213/215-Q4',
              '213/215-Q5',
              '213/215-Q6',
              '213/215-Q7',
              '213/215-Q8'],
             'Heat 303': ['210/212-Q4',
              '210/212-Q5',
              '210/212-Q6',
              '210/212-Q7',
              '210/212-Q8'],
             'Heat 304': ['209/211-Q4',
              '209/211-Q5',
              '209/211-Q6',
              '209/211-Q7',
              '209/211-Q8'],
             'Heat 305': ['W214',
              'W216',
              '214/216-Q1',
              '214/216-Q2',
              '214/216-Q3'],
             'Heat 306': ['W213',
              'W215',
              '213/215-Q1',
              '213/215-Q2',
              '213/215-Q3'],
             'Heat 307': ['W210',
              'W212',
              '210/212-Q1',
              '210/212-Q2',
              '210/212-Q3'],
             'Heat 308': ['W209',
              'W211',
              '209/211-Q1',
              '209/211-Q2',
              '209/211-Q3'],
             'Heat 309': ['206/208-Q4',
              '206/208-Q5',
              '206/208-Q6',
              '206/208-Q7',
              '206/208-Q8'],
             'Heat 310': ['205/207-Q4',
              '205/207-Q5',
              '205/207-Q6',
              '205/207-Q7',
              '205/207-Q8'],
             'Heat 311': ['202/204-Q4',
              '202/204-Q5',
              '202/204-Q6',
              '202/204-Q7',
              '202/204-Q8'],
             'Heat 312': ['201/203-Q4',
              '201/203-Q5',
              '201/203-Q6',
              '201/203-Q7',
              '201/203-Q8'],
             'Heat 313': ['W206',
              'W208',
              '206/208-Q1',
              '206/208-Q2',
              '206/208-Q3'],
             'Heat 314': ['W205',
              'W207',
              '205/207-Q1',
              '205/207-Q2',
              '205/207-Q3'],
             'Heat 315': ['W202',
              'W204',
              '202/204-Q1',
              '202/204-Q2',
              '202/204-Q3'],
             'Heat 316': ['W201',
              'W203',
              '201/203-Q1',
              '201/203-Q2',
              '201/203-Q3'],
             'Heat 401': ['301/302-Q4',
              '301/302-Q5',
              '301/302-Q6',
              '301/302-Q7',
              '301/302-Q8'],
             'Heat 402': ['303/304-Q4',
              '303/304-Q5',
              '303/304-Q6',
              '303/304-Q7',
              '303/304-Q8'],
             'Heat 403': ['W301',
              'W302',
              '301/302-Q1',
              '301/302-Q2',
              '301/302-Q3'],
             'Heat 404': ['W303',
              'W304',
              '303/304-Q1',
              '303/304-Q2',
              '303/304-Q3'],
             'Heat 405': ['305/306-Q4',
              '305/306-Q5',
              '305/306-Q6',
              '305/306-Q7',
              '305/306-Q8'],
             'Heat 406': ['307/308-Q4',
              '307/308-Q5',
              '307/308-Q6',
              '307/308-Q7',
              '307/308-Q8'],
             'Heat 407': ['W305',
              'W306',
              '305/306-Q1',
              '305/306-Q2',
              '305/306-Q3'],
             'Heat 408': ['W307',
              'W308',
              '307/308-Q1',
              '307/308-Q2',
              '307/308-Q3'],
             'Heat 409': ['309/310-Q4',
              '309/310-Q5',
              '309/310-Q6',
              '309/310-Q7',
              '309/310-Q8'],
             'Heat 410': ['311/312-Q4',
              '311/312-Q5',
              '311/312-Q6',
              '311/312-Q7',
              '311/312-Q8'],
             'Heat 411': ['W309',
              'W310',
              '309/310-Q1',
              '309/310-Q2',
              '309/310-Q3'],
             'Heat 412': ['W311',
              'W312',
              '311/312-Q1',
              '311/312-Q2',
              '311/312-Q3'],
             'Heat 413': ['313/314-Q4',
              '313/314-Q5',
              '313/314-Q6',
              '313/314-Q7',
              '313/314-Q8'],
             'Heat 414': ['315/316-Q4',
              '315/316-Q5',
              '315/316-Q6',
              '315/316-Q7',
              '315/316-Q8'],
             'Heat 415': ['W313',
              'W314',
              '313/314-Q1',
              '313/314-Q2',
              '313/314-Q3'],
             'Heat 416': ['W315',
              'W316',
              '315/316-Q1',
              '315/316-Q2',
              '315/316-Q3'],
             'Heat 501': ['401/402-Q4',
              '401/402-Q5',
              '401/402-Q6',
              '401/402-Q7',
              '401/402-Q8'],
             'Heat 502': ['W401',
              'W402',
              '401/402-Q1',
              '401/402-Q2',
              '401/402-Q3'],
             'Heat 503': ['403/404-Q4',
              '403/404-Q5',
              '403/404-Q6',
              '403/404-Q7',
              '403/404-Q8'],
             'Heat 504': ['W403',
              'W404',
              '403/404-Q1',
              '403/404-Q2',
              '403/404-Q3'],
             'Heat 505': ['405/406-Q4',
              '405/406-Q5',
              '405/406-Q6',
              '405/406-Q7',
              '405/406-Q8'],
             'Heat 506': ['W405',
              'W406',
              '405/406-Q1',
              '405/406-Q2',
              '405/406-Q3'],
             'Heat 507': ['407/408-Q4',
              '407/408-Q5',
              '407/408-Q6',
              '407/408-Q7',
              '407/408-Q8'],
             'Heat 508': ['W407',
              'W408',
              '407/408-Q1',
              '407/408-Q2',
              '407/408-Q3'],
             'Heat 509': ['409/410-Q4',
              '409/410-Q5',
              '409/410-Q6',
              '409/410-Q7',
              '409/410-Q8'],
             'Heat 510': ['W409',
              'W410',
              '409/410-Q1',
              '409/410-Q2',
              '409/410-Q3'],
             'Heat 511': ['411/412-Q4',
              '411/412-Q5',
              '411/412-Q6',
              '411/412-Q7',
              '411/412-Q8'],
             'Heat 512': ['W411',
              'W412',
              '411/412-Q1',
              '411/412-Q2',
              '411/412-Q3'],
             'Heat 513': ['413/414-Q4',
              '413/414-Q5',
              '413/414-Q6',
              '413/414-Q7',
              '413/414-Q8'],
             'Heat 514': ['W413',
              'W414',
              '413/414-Q1',
              '413/414-Q2',
              '413/414-Q3'],
             'Heat 515': ['415/416-Q4',
              '415/416-Q5',
              '415/416-Q6',
              '415/416-Q7',
              '415/416-Q8'],
             'Heat 516': ['W415',
              'W416',
              '415/416-Q1',
              '415/416-Q2',
              '415/416-Q3']})

In [7]:
sd_h_key = {val:key for key, value in h_seed_key.iteritems() 
            for i, val in enumerate(value)}

index_test = [i for i in sd_h_key.keys()]
len(index_test)

400

In [8]:
RH_index = range(1,81) #start with R0 seeds 1-80 in list

#add winners seeds for all heats in tournament, W101 - 116 thru W401-416
for i in range(1,10):
    for j in range(1,5):
        RH_index.append('W{}0{}'.format(j, i))      
for i in range(10,17):
    for j in range(1,5):
        RH_index.append('W{}{}'.format(j, i))

#add next place seeds for all of R1 results (Q1 - Q8 for each heat pair per h_pairs dict):
for key, value in h_pairs.iteritems():
    for i in range(1,9):
        RH_index.append('{}/{}-Q{}'.format(key, value, i))

RH_index = sorted(RH_index)

len(RH_index) #5 rounds of 80 seeds each = 400 total round/heat indices

400

In [9]:
bracket_df = pd.DataFrame(index=RH_index, columns=['Round', 'Nxt_Heat', 'First_name', 
                                                   'Surname', 'Time'])
bracket_df.index.name = 'Seed'

In [10]:
for val in bracket_df.index:
    bracket_df.loc[val,['Nxt_Heat']] = sd_h_key[val]
    bracket_df.loc[val,['Round']] = int(str(bracket_df.loc[val,['Nxt_Heat']]).split()[2][0])-1

In [11]:
bracket_df.head()

     Round  Nxt_Heat First_name Surname Time
Seed
1        0  Heat 101        NaN     NaN  NaN
2        0  Heat 109        NaN     NaN  NaN
3        0  Heat 113        NaN     NaN  NaN
4        0  Heat 105        NaN     NaN  NaN
5        0  Heat 107        NaN     NaN  NaN

In [12]:
time_trial_df = pd.read_csv('test_data/TimeTrialResults.csv')

In [13]:
tt_df_cleaned = time_trial_df[['Surname', 'First name', 'Time']]
tt_df_cleaned = tt_df_cleaned.rename(index=str, columns={'First name': 'First_name'})
#tt_df_cleaned.Time = pd.to_datetime(tt_df_cleaned.Time).dt.time
tt_df_cleaned = tt_df_cleaned.sort_values(['Time'])
tt_df_cleaned['Seed'] = [int(i)+1 for i in tt_df_cleaned.index]

In [14]:
tt_df_cleaned.head()

   Surname First_name   Time  Seed
53   Byers       Kate  10:02    54
54   Woods     Joanne  10:06    55
55   krogh      jacob  10:14    56
56  Klinge    Charlie  10:22    57
57  Devine       Kirk  10:29    58

In [15]:
for val in tt_df_cleaned['Seed']:
    bracket_df.loc[val,['First_name']] = (tt_df_cleaned['First_name']
                                          [tt_df_cleaned['Seed']==val].item())
    bracket_df.loc[val,['Surname']] = (tt_df_cleaned['Surname']
                                            [tt_df_cleaned['Seed']==val].item())
    bracket_df.loc[val,['Time']] = (tt_df_cleaned['Time']
                                           [tt_df_cleaned['Seed']==val].item())

In [16]:
#bracket_df[bracket_df['First_name'].notnull()]
#use this command if want to print all results so far (will mask out future heats w/no results)

In [17]:
print 'Heat 101:'
bracket_df[['Nxt_Heat', 'First_name', 'Surname']][bracket_df['Nxt_Heat'] == 'Heat 101']

Heat 101:

      Nxt_Heat First_name   Surname
Seed
1     Heat 101       Adam     Woods
32    Heat 101       Ryan  Breseman
33    Heat 101        Ott    Toomet
64    Heat 101       Ryan       Lee
65    Heat 101        Jan     Urban

In [18]:
def clean_results_csv(raw_csv):
    df = pd.read_csv(raw_csv)
    df = df[['Surname', 'First name', 'Time', 'Entry cl. No']]
    df = df.rename(index=str, columns={'First name': 'First_name'})
    df = df.rename(index=str, columns={'Entry cl. No': 'Heat'})
    #r1_results_df.Time = pd.to_datetime(r1_results_df.Time).dt.time
    df = df.sort_values(['Time'])
    return df

In [19]:
r1_results_df = clean_results_csv('test_data/R1-Woodland-Results.csv')

In [20]:
r1_results_df[r1_results_df['Heat'] == 101]

    Surname First_name   Time  Heat
0     Enger       Will  13:59   101
1    Toomet        Ott  16:22   101
2  Breseman       Ryan  18:08   101
3     Urban        Jan  28:38   101
4       Lee       Ryan  29:37   101

In [21]:
r1_results_df[r1_results_df['Heat'] == 102]

       Surname First_name   Time  Heat
5  Gusiatnikov   Vladimir  14:35   102
6    Sheldrake      Scott  14:58   102
7    Grandjean      Susan  17:01   102
8      Bruneel       Jack  22:12   102

In [22]:
def nxt_ht_assigns(results_df, rnd, h_pairs, person_info):
    '''define inputs, how function works'''
    for ht1, ht2 in h_pairs.iteritems():
        if ht1 < (rnd * 100 + 100):
            temp_df1 = results_df[(results_df['Heat'] == ht1)].sort_values('Time')
            temp_df2 = results_df[(results_df['Heat'] == ht2)].sort_values('Time')
            temp_dftot = pd.concat([temp_df1, temp_df2]).sort_values('Time')
            temp_dftot.reset_index(drop=True, inplace=True)
            temp_dftot = temp_dftot.drop([0, 1])
            for colnm in person_info:
                ht_win1 = temp_df1[colnm][temp_df1['Time'] == temp_df1['Time'].min()].item()
                bracket_df.loc['W{}'.format(ht1),[colnm]] = ht_win1
                ht_win2 = temp_df2[colnm][temp_df2['Time'] == temp_df2['Time'].min()].item()
                bracket_df.loc['W{}'.format(ht2),[colnm]] = ht_win2
        
            for i, row in enumerate(temp_dftot.values):
                for j, colnm in enumerate(person_info):
                    bracket_df.loc['{}/{}-Q{}'.format(ht1, ht2, i+1),[colnm]] = row[j]

In [23]:
person_info = ['Surname', 'First_name', 'Time']
nxt_ht_assigns(r1_results_df, 1, h_pairs, person_info)

In [24]:
#bracket_df[bracket_df['First_name'].notnull()]

In [25]:
from __future__ import print_function

In [26]:
def print_heat_assigns(rnd):
    info_list = []
    for heat in xrange((rnd*100 + 1), (rnd*100 + 17)):
        df = bracket_df[bracket_df['Nxt_Heat'] == 'Heat {}'.format(heat)].sort_values('Time')
        info_list.append('Heat {}'.format(heat))
        info_list.append('\n')
        info_list.append(df[['First_name', 'Surname']])
        info_list.append('\n')
    return info_list

In [27]:
#print_heat_assigns(1)

In [28]:
print(*print_heat_assigns(1), sep='\n', file = open("R1_heat_assigns", "w"))

In [29]:
print(*print_heat_assigns(2), sep='\n', file = open("R2_heat_assigns", "w"))

In [30]:
#bracket_df.to_csv('test_data/bracket_postR1.csv')

In [31]:
#bracket_df.to_excel('test_data/bracket_postR1_excelform.xls')

In [32]:
#bracket_df[bracket_df['Round'] == 1].to_excel('test_data/bracket_postR1_excelform.xls', sheet_name = 'Sheet2')

In [33]:
start_times_init = {'Heat 101': '12:00pm', 'Heat 102': '12:03pm',
    'Heat 103': '12:06pm', 'Heat 104': '12:09pm',
    'Heat 105': '12:12pm', 'Heat 106': '12:15pm',
    'Heat 107': '12:18pm', 'Heat 108': '12:21pm',
    'Heat 109': '12:24pm', 'Heat 110': '12:27pm',
    'Heat 111': '12:30pm', 'Heat 112': '12:33pm',
    'Heat 113': '12:36pm', 'Heat 114': '12:39pm',
    'Heat 115': '12:42pm', 'Heat 116': '12:45pm'}

In [34]:
from collections import defaultdict

start_times = defaultdict(lambda: str, start_times_init)

In [35]:
i = 0
for val in xrange(201,217):
    time = '3:{}pm'.format(0 + i)
    start_times['Heat {}'.format(val)] = time
    i += 3

In [36]:
start_times['Heat 201'] = '3:00pm'
start_times['Heat 202'] = '3:03pm'
start_times['Heat 203'] = '3:06pm'
start_times['Heat 204'] = '3:09pm'

In [37]:
i = 0
for val in xrange(301, 317):
    time = '8:{}pm'.format(0 + i)
    start_times['Heat {}'.format(val)] = time
    i += 3
    
start_times['Heat 301'] = '8:00pm'
start_times['Heat 302'] = '8:03pm'
start_times['Heat 303'] = '8:06pm'
start_times['Heat 304'] = '8:09pm'

In [38]:
i = 0
for val in xrange(401, 417):
    time = '9:{}am'.format(15 + i)
    start_times['Heat {}'.format(val)] = time
    i += 3
    
start_times['Heat 416'] = '10:00am'

In [39]:
i = 0
for val in xrange(501, 517):
    time = '11:{}am'.format(15 + i)
    start_times['Heat {}'.format(val)] = time
    i += 3
    
start_times['Heat 516'] = '12:00pm'

In [110]:
bracket_df.tail()

     Round  Nxt_Heat First_name Surname Time
Seed
W412     4  Heat 512        NaN     NaN  NaN
W413     4  Heat 514        NaN     NaN  NaN
W414     4  Heat 514        NaN     NaN  NaN
W415     4  Heat 516        NaN     NaN  NaN
W416     4  Heat 516        NaN     NaN  NaN

In [107]:
def assign_nxt_ht_to_ss_import_csv(csv_import_file, prior_rnd):
    ss_input = pd.read_csv(csv_import_file)
    ss_input = ss_input[pd.notnull(ss_input['Surname'])]
    ss_input = ss_input[ss_input['Surname'] != 'Winterbottom']
    bracket_df_temp = bracket_df[(pd.notnull(bracket_df['Surname'])) & (bracket_df['Round'] == prior_rnd)]

    if len(ss_input) != len(bracket_df_temp):
        return 'Warning: mismatch between next round import file and current round results lists - check data!'
    else:
        for val in ss_input.index:
            ss_input.loc[val, ['Long']] = bracket_df_temp[(bracket_df_temp['Round'] == prior_rnd) & 
                                                             (bracket_df_temp['Surname'] == 
                                                              ss_input.loc[val, ['Surname']].values[0]) & 
                                                             (bracket_df_temp['First_name'] == 
                                                              ss_input.loc[val, ['First name']].values[0])
                                                            ]['Nxt_Heat'].values[0]
            
            ss_input.loc[val, ['Short']] = 'H' + ss_input.loc[val, ['Long']].values[0][-3:]
            ss_input.loc[val, ['Cl. no.']] = ss_input.loc[val, ['Long']].values[0][-3:]
            
    return ss_input

In [108]:
r1_ss_input = assign_nxt_ht_to_ss_import_csv('test_data/SARTEntriesDataImport-Woodland-preevent.csv', 0)

In [109]:
r1_ss_input.to_csv('test_data/TEST-populated_import_forWoodland.csv')

In [53]:
bracket_df[bracket_df['Nxt_Heat'] == 'Heat 216']

           Round  Nxt_Heat First_name       Surname   Time
Seed
115/116-Q4     1  Heat 216        Sue      Kuestner  17:19
115/116-Q5     1  Heat 216       Kyle  Haddad-Fonda  17:19
115/116-Q6     1  Heat 216     Safder          Raza  18:48
115/116-Q7     1  Heat 216       Kate         Byers  24:01
115/116-Q8     1  Heat 216       Kyle       Hopkins  59:47

In [54]:
bracket_df[bracket_df['Nxt_Heat'] == 'Heat 215']

           Round  Nxt_Heat First_name         Surname   Time
Seed
115/116-Q1     1  Heat 215       Eric            Bone  14:38
115/116-Q2     1  Heat 215       Stan           Woods  14:43
115/116-Q3     1  Heat 215      Bruce  Christopherson  16:09
W115           1  Heat 215       Eric            Bone  14:38
W116           1  Heat 215       Tori          Borish  14:07

In [55]:
bracket_df[bracket_df['Nxt_Heat'] == 'Heat 115']

     Round  Nxt_Heat First_name         Surname   Time
Seed
6        0  Heat 115       Eric            Bone   6:17
27       0  Heat 115       Kyle    Haddad-Fonda   8:17
38       0  Heat 115      Bruce  Christopherson   8:45
59       0  Heat 115        Sue        Kuestner  10:58
70       0  Heat 115       Kyle         Hopkins  14:31

In [56]:
bracket_df[bracket_df['Nxt_Heat'] == 'Heat 116']

     Round  Nxt_Heat First_name Surname   Time
Seed
11       0  Heat 116       Tori  Borish   7:02
22       0  Heat 116       Stan   Woods   7:57
43       0  Heat 116      Brian  Gruber   9:09
54       0  Heat 116       Kate   Byers  10:02
75       0  Heat 116     Safder    Raza    NaN

In [57]:
r1_results_df[(r1_results_df['Heat'] == 115)]

           Surname First_name   Time  Heat
64            Bone       Eric  14:38   115
65  Christopherson      Bruce  16:09   115
66        Kuestner        Sue  17:19   115
67    Haddad-Fonda       Kyle  17:19   115
49         Hopkins       Kyle  59:47   115

In [58]:
r1_results_df[(r1_results_df['Heat'] == 116)]

   Surname First_name   Time  Heat
69  Borish       Tori  14:07   116
70  Gruber      Brian  14:28   116
71   Woods       Stan  14:43   116
72    Raza     Safder  18:48   116
73   Byers       Kate  24:01   116