In [65]:
from SART_Class_v2 import SART

In [2]:
r0_seeds = {'Heat 101': [1, 32, 33, 64, 65], 'Heat 102': [16, 17, 48, 49, 80],
    'Heat 103': [8, 25, 40, 57, 72], 'Heat 104': [9, 24, 41, 56, 73],
    'Heat 105': [4, 29, 36, 61, 68], 'Heat 106': [13, 20, 45, 52, 77],
    'Heat 107': [5, 28, 37, 60, 69], 'Heat 108': [12, 21, 44, 53, 76],
    'Heat 109': [2, 31, 34, 63, 66], 'Heat 110': [15, 18, 47, 50, 79],
    'Heat 111': [7, 26, 39, 58, 71], 'Heat 112': [10, 23, 42, 55, 74],
    'Heat 113': [3, 30, 35, 62, 67], 'Heat 114': [14, 19, 46, 51, 78],
    'Heat 115': [6, 27, 38, 59, 70], 'Heat 116': [11, 22, 43, 54, 75]}

#heat pairs round 1 - 4:
h_pairs = [(101, 102), (103, 104), (105, 106), (107, 108), (109, 110),
    (111, 112), (113, 114), (115, 116), (201, 203), (205, 207), (209, 211),
    (213, 215), (202, 204), (206, 208), (210, 212), (214, 216), (301, 302),
    (303, 304), (305, 306), (307, 308), (309, 310), (311, 312), (313, 314),
    (315, 316), (401, 402), (403, 404), (405, 406), (407, 408), (409, 410),
    (411, 412), (413, 414), (415, 416)]

#heat pairs round 2 - 5 that prior round feed into e.g. 101, 102 feed into 201, 202:
fd_into_ht_pairs = [(201, 202), (203, 204), (205, 206), (207, 208),
    (209, 210), (211, 212), (213, 214), (215, 216), (316, 312), (315, 311),
    (314, 310), (313, 309), (308, 304), (307, 303), (306, 302), (305, 301),
    (403, 401), (404, 402), (407, 405), (408, 406), (411, 409), (412, 410),
    (415, 413), (416, 414), (502, 501), (504, 503), (506, 505), (508, 507),
    (510, 509), (512, 511), (514, 513), (516, 515)]

#Bracket columns:
columns = ['Round', 'Nxt_Heat', 'First_name', 'Surname', 'Time', 'Nxt_Heat_Time']

#Heat start times:
#Heat start times:
start_times = {'Heat 101': '12:00pm',
             'Heat 102': '12:03pm',
             'Heat 103': '12:06pm',
             'Heat 104': '12:09pm',
             'Heat 105': '12:12pm',
             'Heat 106': '12:15pm',
             'Heat 107': '12:18pm',
             'Heat 108': '12:21pm',
             'Heat 109': '12:24pm',
             'Heat 110': '12:27pm',
             'Heat 111': '12:30pm',
             'Heat 112': '12:33pm',
             'Heat 113': '12:36pm',
             'Heat 114': '12:39pm',
             'Heat 115': '12:42pm',
             'Heat 116': '12:45pm',
             'Heat 201': '3:00pm',
             'Heat 202': '3:03pm',
             'Heat 203': '3:06pm',
             'Heat 204': '3:09pm',
             'Heat 205': '3:12pm',
             'Heat 206': '3:15pm',
             'Heat 207': '3:18pm',
             'Heat 208': '3:21pm',
             'Heat 209': '3:24pm',
             'Heat 210': '3:27pm',
             'Heat 211': '3:30pm',
             'Heat 212': '3:33pm',
             'Heat 213': '3:36pm',
             'Heat 214': '3:39pm',
             'Heat 215': '3:42pm',
             'Heat 216': '3:45pm',
             'Heat 301': '8:00pm',
             'Heat 302': '8:03pm',
             'Heat 303': '8:06pm',
             'Heat 304': '8:09pm',
             'Heat 305': '8:12pm',
             'Heat 306': '8:15pm',
             'Heat 307': '8:18pm',
             'Heat 308': '8:21pm',
             'Heat 309': '8:24pm',
             'Heat 310': '8:27pm',
             'Heat 311': '8:30pm',
             'Heat 312': '8:33pm',
             'Heat 313': '8:36pm',
             'Heat 314': '8:39pm',
             'Heat 315': '8:42pm',
             'Heat 316': '8:45pm',
             'Heat 401': '9:15am',
             'Heat 402': '9:18am',
             'Heat 403': '9:21am',
             'Heat 404': '9:24am',
             'Heat 405': '9:27am',
             'Heat 406': '9:30am',
             'Heat 407': '9:33am',
             'Heat 408': '9:36am',
             'Heat 409': '9:39am',
             'Heat 410': '9:42am',
             'Heat 411': '9:45am',
             'Heat 412': '9:48am',
             'Heat 413': '9:51am',
             'Heat 414': '9:54am',
             'Heat 415': '9:57am',
             'Heat 416': '10:00am',
             'Heat 501': '11:15am',
             'Heat 502': '11:18am',
             'Heat 503': '11:21am',
             'Heat 504': '11:24am',
             'Heat 505': '11:27am',
             'Heat 506': '11:30am',
             'Heat 507': '11:33am',
             'Heat 508': '11:36am',
             'Heat 509': '11:39am',
             'Heat 510': '11:42am',
             'Heat 511': '11:45am',
             'Heat 512': '11:48am',
             'Heat 513': '11:51am',
             'Heat 514': '11:54am',
             'Heat 515': '11:57am',
             'Heat 516': '12:00pm'}

In [3]:
sart17 = SART(r0_seeds, h_pairs, fd_into_ht_pairs, columns, start_times)

In [4]:
sart17.prepare_sd_h_keys()

In [5]:
sart17.create_bracket()

In [6]:
sart17.bracket_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 1 to W416
Data columns (total 6 columns):
Round            400 non-null object
Nxt_Heat         400 non-null object
First_name       0 non-null object
Surname          0 non-null object
Time             0 non-null object
Nxt_Heat_Time    400 non-null object
dtypes: object(6)
memory usage: 21.9+ KB

In [7]:
sart17.process_time_trial_results('test_data/TimeTrialResults.csv')

In [8]:
sart17.tt_df_cleaned.sort_values(by='Seed', inplace=True)

#Adjusting seeds to break ties based on time at go control:
sart17.tt_df_cleaned.loc['0', ['Seed']] = 2
sart17.tt_df_cleaned.loc['1', ['Seed']] = 3
sart17.tt_df_cleaned.loc['2', ['Seed']] = 1
sart17.tt_df_cleaned.loc['24', ['Seed']] = 26
sart17.tt_df_cleaned.loc['25', ['Seed']] = 25

#Set high times to drive mp and dnfs to last seeds:
sart17.tt_df_cleaned.loc['73', ['Time']] = '50:10'
sart17.tt_df_cleaned.loc['74', ['Time']] = '50:20'
sart17.tt_df_cleaned.loc['75', ['Time']] = '50:30'

#These steps completed by reviewing data and pulling tie-breakers from SS

In [9]:
sart17.add_time_trial_results()

In [69]:
from __future__ import print_function
print(*sart17.print_heat_assigns(1), sep='\n', file = open("test_data/R1_heat_assigns", 'w'))

In [21]:
r1_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('test_data/SARTEntriesDataImport-Woodland-preevent.csv', 0)
#Round must be put in as an integer here!

In [22]:
r1_ss_import.to_csv('test_data/2016TEST-populated_import_forWoodland.csv')

In [87]:
r1_results = sart17.clean_results_csv('test_data/R1-Woodland-Results.csv')
r1_results.sort_values(by='Heat')

r1_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74 entries, 55 to 49
Data columns (total 4 columns):
Surname       74 non-null object
First_name    74 non-null object
Time          74 non-null object
Heat          74 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.9+ KB

In [91]:
#break ties:
r1_results.loc['67', ['Time']] = '17:19.5'

#Set high times to drive mp and dnfs to last seeds:
r1_results.loc['49', ['Time']] = '55:10'

#Added two dns's
r1_results.loc['74', ['Surname']] = 'Nasman'
r1_results.loc['74', ['First_name']] = 'Linnea'
r1_results.loc['74', ['Time']] = '50:10'
r1_results.loc['74', ['Heat']] = 108 #get heat from bracket_df

r1_results.loc['75', ['Surname']] = 'Nordberg'
r1_results.loc['75', ['First_name']] = 'Robin'
r1_results.loc['75', ['Time']] = '50:20'
r1_results.loc['75', ['Heat']] = 107 #get heat from bracket_df

In [92]:
sart17.nxt_ht_assigns(r1_results, 1)

In [93]:
sart17.bracket_df[sart17.bracket_df['Nxt_Heat'] == 'Heat 208']

           Round  Nxt_Heat First_name   Surname   Time Nxt_Heat_Time
Seed
107/108-Q4     1  Heat 208      Kevin    Mihata  18:00        3:21pm
107/108-Q5     1  Heat 208     Zarina    Parpia  23:56        3:21pm
107/108-Q6     1  Heat 208      Kayla    Martin  32:30        3:21pm
107/108-Q7     1  Heat 208     Linnea    Nasman  50:10        3:21pm
107/108-Q8     1  Heat 208      Robin  Nordberg  50:20        3:21pm

In [94]:
print(*sart17.print_heat_assigns(2), sep='\n', file = open("test_data/R2_heat_assigns", 'w'))

In [95]:
#repeat process with files for Round 2 - 5 imports to SS and Round 2 - 4 exports from SS to bracket
#Once all that is confirmed clean, then write function for calculating final results based on Round 5