## Initial Event Preparation
- Occurs pre-event
- Instantiate class and define bracket format via the dictionary and lists of tuples as shown below

In [1]:
from SART_Class_v2 import SART
import pandas as pd

In [2]:
r0_seeds = {'Heat 101': [1, 32, 33, 64, 65], 'Heat 102': [16, 17, 48, 49, 80],
    'Heat 103': [8, 25, 40, 57, 72], 'Heat 104': [9, 24, 41, 56, 73],
    'Heat 105': [4, 29, 36, 61, 68], 'Heat 106': [13, 20, 45, 52, 77],
    'Heat 107': [5, 28, 37, 60, 69], 'Heat 108': [12, 21, 44, 53, 76],
    'Heat 109': [2, 31, 34, 63, 66], 'Heat 110': [15, 18, 47, 50, 79],
    'Heat 111': [7, 26, 39, 58, 71], 'Heat 112': [10, 23, 42, 55, 74],
    'Heat 113': [3, 30, 35, 62, 67], 'Heat 114': [14, 19, 46, 51, 78],
    'Heat 115': [6, 27, 38, 59, 70], 'Heat 116': [11, 22, 43, 54, 75]}

#heat pairs round 1 - 4:
h_pairs = [(101, 102), (103, 104), (105, 106), (107, 108), (109, 110),
    (111, 112), (113, 114), (115, 116), (201, 203), (205, 207), (209, 211),
    (213, 215), (202, 204), (206, 208), (210, 212), (214, 216), (301, 302),
    (303, 304), (305, 306), (307, 308), (309, 310), (311, 312), (313, 314),
    (315, 316), (401, 402), (403, 404), (405, 406), (407, 408), (409, 410),
    (411, 412), (413, 414), (415, 416)]

#heat pairs round 2 - 5 that prior round feed into e.g. 101, 102 feed into 201, 202:
fd_into_ht_pairs = [(201, 202), (203, 204), (205, 206), (207, 208),
    (209, 210), (211, 212), (213, 214), (215, 216), (316, 312), (315, 311),
    (314, 310), (313, 309), (308, 304), (307, 303), (306, 302), (305, 301),
    (403, 401), (404, 402), (407, 405), (408, 406), (411, 409), (412, 410),
    (415, 413), (416, 414), (502, 501), (504, 503), (506, 505), (508, 507),
    (510, 509), (512, 511), (514, 513), (516, 515)]

#Bracket columns:
columns = ['Round', 'Nxt_Heat', 'First_name', 'Surname', 'Time', 'Nxt_Heat_Time']

#Heat start times:
#Heat start times:
start_times = {'Heat 101': '12:00pm',
             'Heat 102': '12:03pm',
             'Heat 103': '12:06pm',
             'Heat 104': '12:09pm',
             'Heat 105': '12:12pm',
             'Heat 106': '12:15pm',
             'Heat 107': '12:18pm',
             'Heat 108': '12:21pm',
             'Heat 109': '12:24pm',
             'Heat 110': '12:27pm',
             'Heat 111': '12:30pm',
             'Heat 112': '12:33pm',
             'Heat 113': '12:36pm',
             'Heat 114': '12:39pm',
             'Heat 115': '12:42pm',
             'Heat 116': '12:45pm',
             'Heat 201': '3:00pm',
             'Heat 202': '3:03pm',
             'Heat 203': '3:06pm',
             'Heat 204': '3:09pm',
             'Heat 205': '3:12pm',
             'Heat 206': '3:15pm',
             'Heat 207': '3:18pm',
             'Heat 208': '3:21pm',
             'Heat 209': '3:24pm',
             'Heat 210': '3:27pm',
             'Heat 211': '3:30pm',
             'Heat 212': '3:33pm',
             'Heat 213': '3:36pm',
             'Heat 214': '3:39pm',
             'Heat 215': '3:42pm',
             'Heat 216': '3:45pm',
             'Heat 301': '8:00pm',
             'Heat 302': '8:03pm',
             'Heat 303': '8:06pm',
             'Heat 304': '8:09pm',
             'Heat 305': '8:12pm',
             'Heat 306': '8:15pm',
             'Heat 307': '8:18pm',
             'Heat 308': '8:21pm',
             'Heat 309': '8:24pm',
             'Heat 310': '8:27pm',
             'Heat 311': '8:30pm',
             'Heat 312': '8:33pm',
             'Heat 313': '8:36pm',
             'Heat 314': '8:39pm',
             'Heat 315': '8:42pm',
             'Heat 316': '8:45pm',
             'Heat 401': '9:15am',
             'Heat 402': '9:18am',
             'Heat 403': '9:21am',
             'Heat 404': '9:24am',
             'Heat 405': '9:27am',
             'Heat 406': '9:30am',
             'Heat 407': '9:33am',
             'Heat 408': '9:36am',
             'Heat 409': '9:39am',
             'Heat 410': '9:42am',
             'Heat 411': '9:45am',
             'Heat 412': '9:48am',
             'Heat 413': '9:51am',
             'Heat 414': '9:54am',
             'Heat 415': '9:57am',
             'Heat 416': '10:00am',
             'Heat 501': '11:15am',
             'Heat 502': '11:18am',
             'Heat 503': '11:21am',
             'Heat 504': '11:24am',
             'Heat 505': '11:27am',
             'Heat 506': '11:30am',
             'Heat 507': '11:33am',
             'Heat 508': '11:36am',
             'Heat 509': '11:39am',
             'Heat 510': '11:42am',
             'Heat 511': '11:45am',
             'Heat 512': '11:48am',
             'Heat 513': '11:51am',
             'Heat 514': '11:54am',
             'Heat 515': '11:57am',
             'Heat 516': '12:00pm'}

In [75]:
zip(h_pairs, fd_into_ht_pairs)

[((101, 102), (201, 202)),
 ((103, 104), (203, 204)),
 ((105, 106), (205, 206)),
 ((107, 108), (207, 208)),
 ((109, 110), (209, 210)),
 ((111, 112), (211, 212)),
 ((113, 114), (213, 214)),
 ((115, 116), (215, 216)),
 ((201, 203), (316, 312)),
 ((205, 207), (315, 311)),
 ((209, 211), (314, 310)),
 ((213, 215), (313, 309)),
 ((202, 204), (308, 304)),
 ((206, 208), (307, 303)),
 ((210, 212), (306, 302)),
 ((214, 216), (305, 301)),
 ((301, 302), (403, 401)),
 ((303, 304), (404, 402)),
 ((305, 306), (407, 405)),
 ((307, 308), (408, 406)),
 ((309, 310), (411, 409)),
 ((311, 312), (412, 410)),
 ((313, 314), (415, 413)),
 ((315, 316), (416, 414)),
 ((401, 402), (502, 501)),
 ((403, 404), (504, 503)),
 ((405, 406), (506, 505)),
 ((407, 408), (508, 507)),
 ((409, 410), (510, 509)),
 ((411, 412), (512, 511)),
 ((413, 414), (514, 513)),
 ((415, 416), (516, 515))]

In [3]:
sart17 = SART(r0_seeds, h_pairs, fd_into_ht_pairs, columns, start_times)

#### Call Functions to prepare the keys for our DataFrame
- Using the r0_seeds, h_pairs, and fd_into_ht_pairs data
- This is done in a few functions behind the scenes for this class

In [4]:
sart17.prepare_sd_h_keys()

#### Create the Bracket DataFrame

In [5]:
sart17.create_bracket()

In [6]:
sart17.bracket_df.head()

     Round  Nxt_Heat First_name Surname Time Nxt_Heat_Time
Seed
1        0  Heat 101        NaN     NaN  NaN       12:00pm
2        0  Heat 109        NaN     NaN  NaN       12:24pm
3        0  Heat 113        NaN     NaN  NaN       12:36pm
4        0  Heat 105        NaN     NaN  NaN       12:12pm
5        0  Heat 107        NaN     NaN  NaN       12:18pm

In [7]:
sart17.bracket_df.info()
#for a bracket of 80 people and 5 rounds, total s/b 400 and it is

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 1 to W416
Data columns (total 6 columns):
Round            400 non-null object
Nxt_Heat         400 non-null object
First_name       0 non-null object
Surname          0 non-null object
Time             0 non-null object
Nxt_Heat_Time    400 non-null object
dtypes: object(6)
memory usage: 21.9+ KB

## Time Trial

#### Process the time trial results
- Use the CSV results file pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [8]:
sart17.process_time_trial_results('test_data/TimeTrialResults.csv')

In [9]:
sart17.tt_df_cleaned.sort_values(by='Seed', inplace=True)

#Adjusting seeds to break ties based on time at go control:
sart17.tt_df_cleaned.loc['0', ['Seed']] = 2
sart17.tt_df_cleaned.loc['1', ['Seed']] = 3
sart17.tt_df_cleaned.loc['2', ['Seed']] = 1
sart17.tt_df_cleaned.loc['24', ['Seed']] = 26
sart17.tt_df_cleaned.loc['25', ['Seed']] = 25

#Set high times to drive mp and dnfs to last seeds:
sart17.tt_df_cleaned.loc['73', ['Time']] = '50:10'
sart17.tt_df_cleaned.loc['74', ['Time']] = '50:20'
sart17.tt_df_cleaned.loc['75', ['Time']] = '50:30'

#These steps completed by reviewing data and pulling tie-breakers from SS

#### Add the time trial results to the Bracket DataFrame Using Seed as Key
- Now each person has their Round 1 Heat Assignment since those were already associated with each seed in the Bracket DF

In [10]:
sart17.add_time_trial_results()

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [11]:
from __future__ import print_function
print(*sart17.print_heat_assigns(1), sep='\n', file = open("test_data/R1_heat_assigns", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [12]:
r1_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('test_data/SARTEntriesDataImport-Woodland-preevent.csv', 0)
#Round must be put in as an integer here!

In [13]:
r1_ss_import.to_csv('test_data/2016TEST-populated_import_forWoodland.csv')

## Round 1

#### Import and process the results from Round 1

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [14]:
r1_results = sart17.clean_results_csv('test_data/R1-Woodland-Results.csv')
r1_results.sort_values(by='Heat', inplace=True)

r1_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74 entries, 3 to 73
Data columns (total 4 columns):
Surname       74 non-null object
First_name    74 non-null object
Time          74 non-null object
Heat          74 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.9+ KB

In [15]:
#break ties:
r1_results.loc['67', ['Time']] = '17:19.5'

#Set high times to drive mp and dnfs to last seeds:
r1_results.loc['49', ['Time']] = '55:10'

#Added two dns's
r1_results.loc['74', ['Surname']] = 'Nasman'
r1_results.loc['74', ['First_name']] = 'Linnea'
r1_results.loc['74', ['Time']] = '50:10'
r1_results.loc['74', ['Heat']] = 108 #get heat from bracket_df

r1_results.loc['75', ['Surname']] = 'Nordberg'
r1_results.loc['75', ['First_name']] = 'Robin'
r1_results.loc['75', ['Time']] = '50:20'
r1_results.loc['75', ['Heat']] = 107 #get heat from bracket_df

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [16]:
sart17.nxt_ht_assigns(r1_results, 1)

In [17]:
#visual for example purposes:
sart17.bracket_df[sart17.bracket_df['Nxt_Heat'] == 'Heat 201']

           Round  Nxt_Heat First_name      Surname   Time Nxt_Heat_Time
Seed
101/102-Q1     1  Heat 201      Scott    Sheldrake  14:58        3:00pm
101/102-Q2     1  Heat 201        Ott       Toomet  16:22        3:00pm
101/102-Q3     1  Heat 201      Susan    Grandjean  17:01        3:00pm
W101           1  Heat 201       Will        Enger  13:59        3:00pm
W102           1  Heat 201   Vladimir  Gusiatnikov  14:35        3:00pm

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [18]:
print(*sart17.print_heat_assigns(2), sep='\n', file = open("test_data/R2_heat_assigns", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [19]:
r2_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('test_data/SARTEntriesDataImport-Carkeek-preevent2.csv', 1)
#Round must be put in as an integer here!

In [20]:
r2_ss_import.to_csv('test_data/2016TEST-populated_import_forCarkeek.csv')

## Round 2

#### Import and process the results from Round 2

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [21]:
r2_results = sart17.clean_results_csv('test_data/R2-Carkeek-Results.csv')
r2_results.sort_values(by='Heat', inplace=True)

r2_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, 4 to 73
Data columns (total 4 columns):
Surname       75 non-null object
First_name    75 non-null object
Time          75 non-null object
Heat          75 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.9+ KB

In [81]:
#break ties:
#none this round

#Set high times to drive mp and dnfs to last seeds:
r2_results.loc['45', ['Time']] = '59:59' #Kristy Ricks
r2_results.loc['68', ['Time']] = '59:59' #Stan Woods
r2_results.loc['74', ['Time']] = '59:58' # Kyle Hopkins

#Added one dns
r2_results.loc['76', ['Surname']] = 'Nasman'
r2_results.loc['76', ['First_name']] = 'Linnea'
r2_results.loc['76', ['Time']] = '59:59'
r2_results.loc['76', ['Heat']] = 208 #get heat from bracket_df

In [82]:
r2_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, 4 to 76
Data columns (total 4 columns):
Surname       76 non-null object
First_name    76 non-null object
Time          76 non-null object
Heat          76 non-null float64
dtypes: float64(1), object(3)
memory usage: 5.5+ KB

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [83]:
sart17.nxt_ht_assigns(r2_results, 2)

In [84]:
#visual for example purposes:
sart17.bracket_df[sart17.bracket_df['Nxt_Heat'] == 'Heat 316']

           Round  Nxt_Heat First_name      Surname   Time Nxt_Heat_Time
Seed
201/203-Q1     2  Heat 316        Kai       Mihata  16:58        8:45pm
201/203-Q2     2  Heat 316   Vladimir  Gusiatnikov  17:23        8:45pm
201/203-Q3     2  Heat 316        Ott       Toomet  18:39        8:45pm
W201           2  Heat 316       Will        Enger  16:46        8:45pm
W203           2  Heat 316       Aron       Walker  15:53        8:45pm

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [85]:
print(*sart17.print_heat_assigns(3), sep='\n', file = open("test_data/R3_heat_assigns", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [86]:
r3_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('test_data/SARTEntriesDataImport-SPU-preevent.csv', 2)
#Round must be put in as an integer here!

In [87]:
r3_ss_import.to_csv('test_data/2016TEST-populated_import_forSPU.csv')

## Round 3

#### Import and process the results from Round 2

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

In [88]:
r3_results = sart17.clean_results_csv('test_data/R3-SPU-Results.csv')
r3_results.sort_values(by='Heat', inplace=True)

r3_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 1 to 71
Data columns (total 4 columns):
Surname       72 non-null object
First_name    72 non-null object
Time          72 non-null object
Heat          72 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.8+ KB

In [89]:
r3_results[r3_results['Surname']=='Byers']

   Surname First_name   Time  Heat
70   Byers       Kate  30:35   316

In [90]:
#break ties:
r3_results.loc['70', ['Time']] = '30:35.5' #Kate Byers vs. Nancy Devine

#Set high times to drive mp and dnfs (and disqs) to last seeds:
r3_results.loc['4', ['Time']] = '59:00' #Kai Mihata
r3_results.loc['13', ['Time']] = '59:00' #Allister Beck
r3_results.loc['14', ['Time']] = '59:10' # Jack Bruneel
r3_results.loc['28', ['Time']] = '59:00' # Ben Brady
r3_results.loc['32', ['Time']] = '59:20' # Kevin Mihata
r3_results.loc['33', ['Time']] = '59:30' # Robin Nordberg
r3_results.loc['46', ['Time']] = '59:10' # David Vaisar
r3_results.loc['50', ['Time']] = '59:00' # Oleg S
r3_results.loc['57', ['Time']] = '59:00' # Alexey S
r3_results.loc['58', ['Time']] = '59:10' # Bruce C
r3_results.loc['63', ['Time']] = '59:00' # Brian Gruber
r3_results.loc['66', ['Time']] = '59:20' # Sherri Brady
r3_results.loc['67', ['Time']] = '59:30' # Keith B
r3_results.loc['68', ['Time']] = '59:40' # Raza Safder


#Added four dns's
r3_results.loc['72', ['Surname']] = 'Nasman'
r3_results.loc['72', ['First_name']] = 'Linnea'
r3_results.loc['72', ['Time']] = '59:00'
r3_results.loc['72', ['Heat']] = 303 #get heat from bracket_df

r3_results.loc['73', ['Surname']] = 'Hopkins'
r3_results.loc['73', ['First_name']] = 'Jared'
r3_results.loc['73', ['Time']] = '59:59'
r3_results.loc['73', ['Heat']] = 301

r3_results.loc['74', ['Surname']] = 'Hopkins'
r3_results.loc['74', ['First_name']] = 'Kyle'
r3_results.loc['74', ['Time']] = '59:58'
r3_results.loc['74', ['Heat']] = 302

r3_results.loc['75', ['Surname']] = 'Cheng'
r3_results.loc['75', ['First_name']] = 'Shannon'
r3_results.loc['75', ['Time']] = '59:57'
r3_results.loc['75', ['Heat']] = 306

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

In [91]:
sart17.nxt_ht_assigns(r3_results, 3)

In [116]:
#visual for example purposes:
sart17.bracket_df[(sart17.bracket_df['Nxt_Heat'] == 'Heat 311')]

           Round  Nxt_Heat First_name   Surname   Time Nxt_Heat_Time
Seed
205/207-Q4     2  Heat 311      Peter     Golde  19:45        8:30pm
205/207-Q5     2  Heat 311     Nicole  Whitmore  19:50        8:30pm
205/207-Q6     2  Heat 311    Cameron    Devine  20:04        8:30pm
205/207-Q7     2  Heat 311   Benjamin     Brady  20:31        8:30pm
205/207-Q8     2  Heat 311      Julie   Cassata  21:13        8:30pm

In [117]:
sart17.bracket_df[(sart17.bracket_df['Nxt_Heat'] == 'Heat 312')]

           Round  Nxt_Heat First_name    Surname   Time Nxt_Heat_Time
Seed
201/203-Q4     2  Heat 312      Erica        Lay  18:53        8:33pm
201/203-Q5     2  Heat 312      Scott  Sheldrake  19:20        8:33pm
201/203-Q6     2  Heat 312      Susan  Grandjean  21:28        8:33pm
201/203-Q7     2  Heat 312      Emily       Ross  21:33        8:33pm
201/203-Q8     2  Heat 312      jacob      krogh  35:32        8:33pm

In [118]:
sart17.bracket_df[(sart17.bracket_df['Nxt_Heat'] == 'Heat 412')]

           Round  Nxt_Heat First_name  Surname   Time Nxt_Heat_Time
Seed
311/312-Q1     3  Heat 412     Evgeny  Remizov  21:05        9:48am
311/312-Q2     3  Heat 412       Kirk   Devine  26:05        9:48am
311/312-Q3     3  Heat 412        Jud   Kelley  31:37        9:48am
W311           3  Heat 412      Tomas   Vaisar  21:01        9:48am
W312           3  Heat 412        Dan  Grabski  29:40        9:48am

In [119]:
sart17.bracket_df[(sart17.bracket_df['Nxt_Heat'] == 'Heat 410')]

           Round  Nxt_Heat First_name      Surname   Time Nxt_Heat_Time
Seed
311/312-Q4     3  Heat 410     Kristy        Ricks  31:42        9:42am
311/312-Q5     3  Heat 410       Oleg  Slyusarchuk  59:00        9:42am
311/312-Q6     3  Heat 410        NaN          NaN    NaN        9:42am
311/312-Q7     3  Heat 410        NaN          NaN    NaN        9:42am
311/312-Q8     3  Heat 410        NaN          NaN    NaN        9:42am

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

In [69]:
print(*sart17.print_heat_assigns(4), sep='\n', file = open("test_data/R4_heat_assigns", 'w'))

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [70]:
r4_ss_import = sart17.assign_nxt_ht_to_ss_import_csv('test_data/SARTEntriesDataImport-UW1-preevent.csv', 3)
#Round must be put in as an integer here!

In [71]:
temp = pd.read_csv('test_data/SARTEntriesDataImport-UW1-preevent.csv')

In [74]:
bracket_df_temp = sart17.bracket_df[(pd.notnull(sart17.bracket_df['Surname'])) & (sart17.bracket_df['Round'] == 3)]

bracket_df_temp[bracket_df_temp['Surname']=='Hopkins']

Empty DataFrame
Columns: [Round, Nxt_Heat, First_name, Surname, Time, Nxt_Heat_Time]
Index: []

# Round 4

#### Import and process the results from Round 2

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

## Round 5

#### Import and process the results from Round 2

- Use the CSV results pulled from SportSoftware
- Address any ties, mp's, dnf's, and dns's as shown below

#### Assign next round heats
- This populates the results from Round 1 in the Bracket DF as appropriate based on processing method for this bracket / tournament
- Results in each person being assigned to their appropriate next heat

#### Print the .txt file with next heat assignments for use in handing out heat assignment info

#### Process the next round CSV for import to SportSoftware with correct heat assignments
- This function pulls in the existing CSV, updates the heat assignments, and then in the following line exports a new CSV with those new assignments

In [40]:
#repeat process with files for Round 2 - 5 imports to SS and Round 2 - 4 exports from SS to bracket
#Once all that is confirmed clean, then write function for calculating final results based on Round 5